<div class="provider-block" >
  <div class="provider-header">
    <%= link_to provider.name, provider %>
  </div>
  <div class="provider-body">
    <div class="table-responsive">
      <table>
         <tr>
          <td style="vertical-align: top;">
            <%= image_tag provider.picture.url(:thumb) %>
          </td>
          <td class="v-top" >
            <%= simple_format provider.description %>
          </td>
         </tr>
      </table>
    </div>
  </div>
</div>