<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="tab-choices active">
    <a data-toggle="tab" href="#destination-overview" aria-controls="destination-overview" role="tab">
      Infos générales
    </a>
  </li>
  <li role="presentation" class="tab-choices">
    <a href="#must-see" aria-controls="must-see" role="tab" data-toggle="tab">
      Les Immanquables
    </a>
  </li>
  <li role="presentation" class="tab-choices">
    <a href="#recommended-trip-1" aria-controls="recommended-trip-1" role="tab" data-toggle="tab">
      Itinéraire 1
    </a>
  </li>
  <li role="presentation" class="tab-choices">
    <a href="#recommended-trip-2" aria-controls="recommended-trip-2" role="tab" data-toggle="tab">
      Itinéraire 2
    </a>
  </li>
  <li role="presentation" class="tab-choices">
    <a href="#top-from-explorizers" aria-controls="top-from-explorizers" role="tab" data-toggle="tab">
      Top from Explorizers
    </a>
  </li>
</ul>