<div id="ul-sidebar">
  <ul id="myTab" class="nav nav-pills nav-justified" role="tablist">
    <li role="presentation" class="active" id="destination-pill">
      <a role="menuitem" data-toggle="tab" href="#top-from-explorizers" aria-controls="top-from-explorizers"><i class="fa fa-map-marker"></i>Points d'intérêt</a>
    </li>
    <li role="presentation" class="dropdown" id="itineraries">
      <a id="myTabDrop" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false" aria-controls="myTabDrop-content"><i>Itinéraires</i><span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop" id="myTabDrop-content">
        <li role="presentation">
          <a role="menuitem"  data-toggle="tab" href="#recommended-trip-1" aria-controls="recommended-trip-1"><i class="fa fa-car" id="fa-car"></i><i>L'essentiel du Liban en 5-6 jours</i></a>
        </li>
        <li role="presentation">
          <a role="menuitem"  data-toggle="tab" href="#recommended-trip-2" aria-controls="recommended-trip-2"><i class="fa fa-car" id="fa-car"></i><i>Le Liban incontournable et authentique en 1 semaine</i></a></li>
      </ul>
    </li>
    <li role="presentation" id="my-trip-pill">
      <a role="menuitem"  data-toggle="tab" href="#user-experiences-selection" aria-controls="user-experiences-selection"><i class="fa fa-heart"></i>Mon parcours</a>
    </li>
    <li role="presentation" id="help-menu-pill">
      <a role="menuitem" data-toggle="tab" href="#help-menu" aria-controls="help-menu">?</a>
    </li>
  </ul>
</div>