<body id="explore-map">
  <div id="map-navigation-menu">
    <div class="row">
      <div class="col-sm-2 v-middle">

      </div>
    </div>
  </div>
  <div id="sidebar-container">
    <h1>side bar</h1>
  </div>
  <div id="map-container" class="hidden-sm">
    <h1>map cont</h1>
  </div>
</body>
