<%= render 'show' %>

<!-- Modals to display -->
<!-- User Modal to display -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"> <%= t('trip_show_title') %></h4>
      </div>
      <div class="modal-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
<!-- Help Modal -->
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="helpModalLabel">Comment ça marche ?</h4>
      </div>
            <div class="modal-body">
      <ul class="list-unstyled">
        <li>
          <i class="fa fa-star"></i> Affiche les expériences les mieux notées par les Explorizers. <br><i><small>Ajoutez une expérience à votre sélection en cliquant sur l'icone<i class="fa fa-heart"></i></small></br></i><br>
        </li>
        <li>
          <i class="fa fa-heart"></i> Affiche votre sélection d'expériences et votre itinéraire. <br><i><small>Vous pouvez ajouter votre propre experience en cliquant sur le bouton "Ajouter ma propre étape"</small></br></i><br>
        </li>
        <li>
          <i class="fa fa-comments"></i> Affiche les conseils de vos amis. <br><i><small>Vous n'avez pas encore de conseils d'amis ? On vous explique comment faire ci-dessous.</small></br></i><br>
        </li>
        <li>
          <i class="fa fa-users"></i> Cliquez ici pour demander conseil à vos amis. <br><i><small>Vous pouvez partager votre carte par email ou sur Facebook. Vos amis visualisent votre sélection et peuvent cliquer sur la carte pour ajouter leurs conseils. Pratique, non ?</small></br></i><br>
        </li>
        <li>
          <i class="fa fa-road"></i> Cliquez ici pour accéder à une synthèse de ton voyage et la recevoir par email.<br><i><small>Vous pourrez aussi rajouter des infos utiles pour chaque expérience, par exemple, vos dates d'arrivée ou de départ, le numéro de votre hôtel, etc.</small></br></i><br>
        </li>
      </ul>
      <%= link_to "N'hésitez pas à nous contacter, nous sommes là pour aider !", new_contact_path, target: "_blank" %>
      </div>
    </div>
  </div>
</div>