<%= render 'show' %>

<!-- Modals to display -->
<!-- User Modal to display -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"> <%= t('trip_show_title') %></h4>
      </div>
      <div class="modal-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
<!-- Help Modal -->
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="helpModalLabel">Comment ça marche?</h4>
      </div>
      <div class="modal-body">
      <ul class="list-unstyled">
        <li>
          <i class="fa fa-star"></i> Affiche sur la carte les experiences les mieux notées par les Explorizers. <br><i><small>Une fois une expérience affichée, tu peux la rajouter à ta sélection en cliquant sur l'icone <i class="fa fa-heart"></i></small></br></i><br>
        </li>
        <li>
          <i class="fa fa-heart"></i> Affiche sur la carte ta sélection d'expériences avec ton itinéraire. <br><i><small>Tu peux créer ta propre experience personalisée en cliquant directement sur la carte ou en cliquant sur le bouton "ajouter une experience"</small></br></i><br>
        </li>
        <li>
          <i class="fa fa-comments"></i> Affiche les conseils de tes amis sur la carte. <br><i><small>Tu n'as pas encore de conseils d'amis... On t'explique comment faire juste en dessous</small></br></i><br>
        </li>
        <li>
          <i class="fa fa-users"></i> Clique ici si tu souhaites demander tes conseils à tes amis. <br><i><small>Tu peux partager ta carte soit par email, soit via facebook. Tes amis peuvent voir ce que tu as prévu de faire et ont juste à cliquer sur la carte pour te donner leurs bons plans. Super utile, non?</small></br></i><br>
        </li>
        <li>
          <i class="fa fa-road"></i> Clique ici pour accéder à une synthèse de ton voyage et te l'envoyer par email. <br><i><small>Tu pourras aussi rajouter des infos utiles pour chaque expérience de ton voyage, par exemple, tes dates d'arrivée ou de départ, le numéro de ton hotel, etc.</small></br></i><br>
        </li>
      </ul>
      Pour le moindre problème, nous sommes là pour t'aider donc n'hésite surtout pas à nous contacter. Nous nous ferons un plaisir de te repondre le plus rapidement possible.
      </div>
    </div>
  </div>
</div>