<%= render 'show' %>

<!-- Guest Modal to display -->
<!-- Add a comment -->
<div class="modal fade" id="myModalGuest" tabindex="-1" role="dialog" aria-labelledby="myModalGuestLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalGuestLabel">Partagez vos conseils !</h4>
      </div>
      <div class="modal-body">
        <%= render 'form_guest' %>
      </div>
    </div>
  </div>
</div>
<!-- Thank you for sharing -->
<div class="modal fade" id="myModalThanks" tabindex="-1" role="dialog" aria-labelledby="myModalThanksLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalThanksLabel">Merci pour vos conseils!!!</h4>
      </div>
      <div class="modal-body">
        <p>Nous avons prévenu l'auteur du voyage des commentaires que vous avez ajoutés.</p>
        <p>Vous pouver découvrir notre site en cliquant sur le lien suivant...</p>
        <div class="text-center">
          <a href="http://www.explorizers.com">Découvrir EXPLORIZERS</a>
        </div>
      </div>
    </div>
  </div>
</div>

