<%= render 'show' %>

<!-- Guest Modal to display -->
<div class="modal fade" id="myModalGuest" tabindex="-1" role="dialog" aria-labelledby="myModalGuestLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalGuestLabel">Share your experiences!</h4>
      </div>
      <div class="modal-body">
        <%= render 'form_guest' %>
      </div>
    </div>
  </div>
</div>