<div class="wrapper">
  <div id="titleblock" class="text-center">
    <div class="title">
      <h2><%= @trip.title %></h2>
      <p>Date de création: <%= @trip.created_at.strftime('%d-%m-%Y') %></br>
      Dernière mise à jour: <%= @trip.trip_experiences.any? ? @trip.trip_experiences.last.updated_at.strftime('%d-%m-%Y') : @trip.updated_at.strftime('%d-%m-%Y') %> </p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <% @trip_exp_ordered.each do |trip_exp| %>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 border-left">
          <%= render("/trips/experience_summary_block.html.erb", {trip_exp: trip_exp} ) %>
        </div>
      <% end%>
    </div>
  </div>
</div>