<% content_for(:title) do %>
  <%= "Philae | Notre histoire" %>
<% end %>

<% content_for(:description) do %>
  <%= "With more and more people joining the project, most of our story belongs to the future" %>
<% end %>
<div class="homepage_story">
  <%= render 'shared/story.html.erb' %>
</div>