<p>Bonjour,</p>
<p>Vous trouverez plus bas la synthèse de votre voyage.</p>
<p>Vous pouvez y accéder avec ce lien: </p>
<p>"www.explorizers.com/trips/<%= @trip.id %>"</p>
<br>
<p>A très bientôt sur <a href="www.explorizers.com">Explorizers</a></p>

    <% @trip_exp_tab.each do |trip_exp| %>
      <br><br>
        <%= render("/trips/experience_summary_block.html.erb", {trip_exp: trip_exp, comment: false} ) %>
    <% end%>