<h1>Hi <%= @user.email %></h1>

<p>
  <%= @welcome %>
</p>

<p>bisous</p>


<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.email %></p>
    <p>
      You have successfully signed up to Woohoo<br>
    </p>
    <p>We hope you have a blast using our website. If not, tell us how to make it better.</p>
    <p>Enjoy !</p>
  </body>
</html>