<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

<body>

  <div class="title text center">
    <h1>Welcome aboard !</h1>
  </div>

  <p>On Explorizers, you will find what's great in your destination, and will ask your friends to give you their best tips.</p>

  <p>For now we focus our recommendations on Morocco, to make sure we offer what's best. We intend to spread very quickly !</p>

  <p>Feel free to talk to us. For example, reply to this email to tell us what is the ONE THING you want to have on the site !</p>

  <p>See you soon on explorizers.com !</p>



</body>