@-webkit-keyframes loading {
  /* line 2, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  0% {
    opacity: 0;
  }

  /* line 3, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  100% {
    opacity: 1;
  }
}

@-moz-keyframes loading {
  /* line 6, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  0% {
    opacity: 0;
  }

  /* line 7, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  100% {
    opacity: 1;
  }
}

@-o-keyframes loading {
  /* line 10, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  0% {
    opacity: 0;
  }

  /* line 11, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  100% {
    opacity: 1;
  }
}

@keyframes loading {
  /* line 14, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  0% {
    opacity: 0;
  }

  /* line 15, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  100% {
    opacity: 1;
  }
}

/* line 18, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
html, body {
  overflow: hidden;
}

/* line 22, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
#link-to-detail {
  background: transparent;
  position: absolute;
  left: 0px;
  top: 20px;
  bottom: 87px;
  left: 55px;
  right: 55px;
  z-index: 1;
}

/* line 33, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
#ask-friends-mobile-btn {
  display: none;
}

/* line 37, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  left: 0;
  overflow: auto;
  position: absolute;
  top: 0;
  z-index: 190;
  -webkit-overflow-scrolling: touch;
}
/* line 49, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.overlay .overlay-loading {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  margin-top: 15px;
  position: absolute;
  text-align: center;
  text-shadow: 0 0 8px #000;
  top: 50%;
  width: 100%;
}
/* line 61, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.overlay .overlay-loading b {
  font-weight: 400;
  letter-spacing: 2px;
  -webkit-animation: loading 2s infinite;
  /* Safari 4+ */
  -moz-animation: loading 2s infinite;
  /* Fx 5+ */
  -o-animation: loading 2s infinite;
  /* Opera 12+ */
  animation: loading 2s infinite;
  /* IE 10+, Fx 29+ */
}
/* line 70, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.overlay .overlay-loading b + b {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
/* line 75, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.overlay .overlay-loading b + b + b {
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}

/* line 82, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.mobile-tapbar-container {
  display: none;
}

/* line 86, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.guest-mobile.wrapper {
  display: none;
}

/* line 89, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.mobile-menu-container {
  display: none;
}

/* line 92, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.mobiletapbar-container {
  display: none;
}

/* line 96, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-container {
  position: fixed;
  width: 60%;
  left: 5%;
  bottom: 0px;
  padding-left: 0px;
  top: 54px;
  z-index: 1;
  background: #F0F1F5;
}
/* line 106, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-container #map {
  height: 100%;
}
/* line 111, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-container #ask-friends-mobile-btn small {
  font-size: 15px;
}
/* line 116, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-container #map-interaction {
  position: absolute;
  top: 6px;
  left: 30px;
  background: white;
  margin: 2px 10px;
}
/* line 123, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-container #map-interaction #search-bar {
  padding: 4px;
  background: #fff;
  border: 1px solid #c4c4c4;
  border-radius: 0px;
  background-color: #fff;
  height: 35px;
}
/* line 130, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-container #map-interaction #search-bar input {
  width: 240px;
  height: 27px;
}
/* line 136, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-container #map-interaction .search-btn {
  border-left: 1px solid #c4c4c4;
}
/* line 140, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-container #map-interaction small, .map-container #map-interaction input {
  font-size: 12px;
  font-weight: 400;
}
/* line 145, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-container #map-interaction input {
  background-color: transparent;
  border: 0 none;
  box-shadow: none;
}
/* line 151, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-container #map-interaction input:focus {
  outline: none;
}
/* line 155, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-container #map-interaction #user-choices {
  margin: 0px 3px;
}
/* line 160, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-container .map-bottom-btn {
  bottom: 5px;
  position: absolute;
  left: 5px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
}
/* line 166, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-container .map-bottom-btn small {
  font-size: 15px;
  font-weight: 400;
}
/* line 172, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-container .map-up-btn {
  top: 9px;
  right: 9px;
  position: absolute;
  border-left: #FF7519;
  border-style: solid;
  font-size: 15px;
}
/* line 180, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-container .map-up-btn small {
  font-size: 14px;
  font-weight: 400;
}
/* line 186, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-container .map-up-btn1 {
  top: 9px;
  right: 9px;
  position: absolute;
  width: 148px;
  border-left: #FF7519;
  border-style: solid;
  font-size: 15px;
}
/* line 195, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-container .map-up-btn1 small {
  font-size: 14px;
  font-weight: 400;
}
/* line 201, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-container .map-up-btn2 {
  top: 50px;
  right: 9px;
  position: absolute;
  width: 148px;
  border-left: #FF7519;
  border-style: solid;
  font-size: 15px;
}
/* line 210, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-container .map-up-btn2 small {
  font-size: 14px;
  font-weight: 400;
}
/* line 216, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-container .map-up-btn3 {
  top: 91px;
  right: 9px;
  position: absolute;
  width: 148px;
  border-left: #FF7519;
  border-style: solid;
  font-size: 15px;
}
/* line 225, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-container .map-up-btn3 small {
  font-size: 14px;
  font-weight: 400;
}
/* line 231, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-container .map-up-btn:hover, .map-container .map-up-btn1:hover, .map-container .map-up-btn2:hover, .map-container .map-up-btn3:hover {
  background-color: #FF7519;
  color: white;
}
/* line 236, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-container .map-bottom-btn-tips {
  bottom: 5px;
  position: absolute;
  right: 5px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
  background-color: #3b5998;
}
/* line 243, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-container .map-bottom-btn-tips small {
  font-size: 15px;
  font-weight: 400;
}
/* line 248, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-container .map-bottom-btn-tips input {
  border: none;
  background-color: #3b5998;
  color: white;
}
/* line 253, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-container .map-bottom-btn-tips input:hover {
  background-color: #2d4373;
}
/* line 258, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-container .map-bottom-btn-tips:hover {
  background-color: #2d4373;
}

/* line 264, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.sidebar {
  position: fixed;
  width: 35%;
  right: 0px;
  top: 54px;
  bottom: 0%;
}
/* line 273, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.sidebar .selection-header table {
  width: 100%;
}
/* line 277, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.sidebar .selection-header .button-action {
  padding: 4%;
}
/* line 295, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.sidebar .selection-header .button-action .btn {
  font-size: 2em;
}
/* line 298, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.sidebar .selection-header .button-action .btn:focus {
  outline: none;
}
/* line 303, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.sidebar .selection-header .selection-title {
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1em;
  margin: 3%;
}
/* line 309, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.sidebar .selection-header p {
  font-size: 14px;
}
/* line 314, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.sidebar .selection-content {
  margin: 10px;
  height: 85%;
  overflow: auto;
  visibility: hidden;
}
/* line 320, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.sidebar .selection-content ul.experience-block-container {
  margin-right: 3%;
}
/* line 324, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.sidebar .selection-content .panel {
  margin: 5px;
  border: none;
  border-radius: 0px;
  margin-bottom: 15px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}
/* line 335, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.sidebar .selection-content .panel .exp-dotdotdot {
  height: 12em;
}
/* line 339, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.sidebar .selection-content .panel .panel-heading {
  padding-right: 2px;
  margin-top: 5px;
  border-radius: 0px;
  background: white;
  border: none;
  border-radius: 0px;
  font-weight: 300;
  color: #808080;
}
/* line 349, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.sidebar .selection-content .panel .panel-heading a {
  color: #808080;
}
/* line 353, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.sidebar .selection-content .panel .panel-heading button.btn {
  margin: 0px;
  padding: 0px;
}
/* line 358, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.sidebar .selection-content .panel .panel-heading button.btn:focus {
  outline: none;
}
/* line 362, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.sidebar .selection-content .panel .panel-heading i {
  padding-right: 5px;
  color: #FF5A5F;
}
/* line 367, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.sidebar .selection-content .panel .panel-heading i:hover {
  padding-right: 5px;
  color: #808080;
}
/* line 373, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.sidebar .selection-content .panel .panel-heading .pull-right i {
  padding-right: 5px;
  color: #808080;
}
/* line 377, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.sidebar .selection-content .panel .panel-heading .pull-right i:hover {
  padding-right: 5px;
  color: #FF5A5F;
}
/* line 383, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.sidebar .selection-content .panel .panel-heading i.fa-heart.comment {
  padding-right: 5px;
  color: #FF5A5F;
}
/* line 388, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.sidebar .selection-content .panel .panel-heading i.fa-heart.comment:hover {
  padding-right: 5px;
  color: #808080;
}
/* line 395, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.sidebar .selection-content .panel .panel-body {
  padding: 0px 7px 10px 7px;
  border: none;
  border-radius: 0px;
  font-weight: 200;
  margin-bottom: 5px;
  font-size: 12.5px;
}
/* line 403, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.sidebar .selection-content .panel .panel-body .readmore {
  color: grey;
  text-decoration: underline;
  font-weight: 400;
}
/* line 408, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.sidebar .selection-content .panel .panel-body .readmore:hover {
  color: coral;
}
/* line 412, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.sidebar .selection-content .panel .panel-body td.thumb-pic {
  vertical-align: top;
  width: 165px;
}
/* line 416, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.sidebar .selection-content .panel .panel-body td.thumb-pic img {
  float: left;
  margin-right: 2%;
}

/* line 426, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-side-menu-container {
  bottom: 0px;
  width: 20%;
  background: #3B5998;
  left: 0;
  position: fixed;
  top: 54px;
}
/* line 434, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-side-menu-container table {
  width: 100%;
}

/* line 438, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-side-menu-content {
  color: white;
  height: 60px;
}
/* line 442, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-side-menu-content .map-menu-item {
  font-size: 2em;
  width: 25%;
  vertical-align: middle;
}
/* line 449, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-side-menu-content .map-menu-item-top {
  font-size: 15px;
  width: 25%;
  vertical-align: middle;
}
/* line 456, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-side-menu-content .map-menu-item-bottom {
  font-size: 2em;
  width: 25%;
  vertical-align: middle;
}
/* line 462, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-side-menu-content .item-show {
  font-size: 13px;
  font-weight: 300;
  padding-left: 5%;
  width: 100%;
  line-height: 5em;
  vertical-align: middle;
}

/* line 474, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-side-menu-content:hover {
  background: #0081ba;
}

/* line 478, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.menu-selected, .menu-selected:hover {
  background: #2196F3;
}

/* line 482, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.mobile-selection, .mobile-selection:hover {
  background: #2196F3;
}

/* line 486, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.map-side-menu-container:hover {
  z-index: 2;
}

/* line 493, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.experience-block-container .panel {
  margin-bottom: 11px;
}
/* line 496, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.experience-block-container .panel-heading {
  padding: 7px;
}

/* line 503, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.infoBox::before {
  border-color: #fff transparent transparent transparent;
  border-width: 15px;
  border-style: solid;
  content: '';
  display: inline-block;
  position: absolute;
  bottom: -18px;
  margin: 0 0 0 126px;
}

/* line 514, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.remove-from-trip {
  color: white;
  font-size: 14px;
  font-weight: 300;
}
/* line 518, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.remove-from-trip i#ib-remove-trip-exp {
  color: #FF5A5F;
}

/* line 523, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.remove-from-trip:hover {
  text-decoration: underline;
}
/* line 525, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.remove-from-trip:hover i#ib-remove-trip-exp {
  color: #808080;
  font-size: 14px;
  text-decoration: none;
}

/* line 532, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.infobox-container {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
/* line 537, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.infobox-container #experience-infowindow {
  margin: 10px;
  padding-top: 10px;
}
/* line 540, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.infobox-container #experience-infowindow .btn {
  font-size: 14px;
  vertical-align: middle;
}
/* line 545, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.infobox-container #experience-infowindow .infobox-content {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}
/* line 549, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.infobox-container #experience-infowindow .infobox-content a {
  color: lightslategrey;
  font-family: 'Roboto';
  font-weight: 300;
}
/* line 555, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.infobox-container #experience-infowindow .infobox-content .fa-search {
  font-weight: 600;
}
/* line 559, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.infobox-container #experience-infowindow .infobox-content .comment-btn:hover .fa {
  color: #FF5A5F;
}
/* line 565, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.infobox-container #experience-infowindow .infobox-content:hover .fa-search {
  color: coral;
}
/* line 571, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.infobox-container #owl-experiences {
  height: 174px;
}
/* line 575, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.infobox-container .owl-controls.clickable {
  margin: 0px;
  position: relative;
  top: -125px;
}
/* line 580, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.infobox-container .owl-controls.clickable .owl-prev {
  position: relative;
  left: -95px;
}
/* line 584, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.infobox-container .owl-controls.clickable .owl-next {
  position: relative;
  right: -95px;
}
/* line 590, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.infobox-container .owl-theme .owl-controls .owl-buttons div {
  font-size: 40px;
  background: transparent;
  opacity: 0;
}
/* line 597, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.infobox-container #experience-infowindow:hover .owl-buttons div {
  opacity: 0.5;
}
/* line 600, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.infobox-container #experience-infowindow:hover .owl-buttons div:hover {
  opacity: 1;
}
/* line 605, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.infobox-container .rating {
  position: relative;
  padding: 3px;
  font-size: 15px;
  background-color: #808080;
  color: white;
}
/* line 612, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.infobox-container .rating form button {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  border: none;
  color: white;
  position: relative;
  top: -2px;
}
/* line 622, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.infobox-container .rating form button i:hover {
  color: #2196F3;
}
/* line 626, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.infobox-container .rating .best {
  font-size: 10px;
}
/* line 630, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.infobox-container .rating .pull-right input {
  background: transparent;
  border-color: transparent;
  font-size: 15px;
}
/* line 636, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.infobox-container .rating .pull-right input:focus {
  outline: none;
}
/* line 641, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.infobox-container .rating .btn:hover .fa-heart {
  color: #FF5A5F;
}

/* line 649, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
#experience-infowindow .comment-name {
  padding-left: 7px;
  font-weight: 400;
  font-size: 15px;
}
/* line 654, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
#experience-infowindow .comment-content {
  padding: 7px;
  font-weight: 100;
  font-size: 13px;
}
/* line 659, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
#experience-infowindow .comment-address {
  padding: 7px;
  font-weight: 100;
  font-size: 11px;
}

/* line 668, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.item-banner img {
  max-width: 100%;
}

@media screen and (max-width: 999px) {
  /* line 675, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  #myModalPresentation {
    display: none;
    visibility: hidden;
  }

  /* line 684, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  .owl-controls.clickable {
    display: none;
  }
  /* line 686, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  .owl-controls.clickable .owl-prev {
    display: none;
  }
  /* line 689, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  .owl-controls.clickable .owl-next {
    display: none;
  }

  /* line 694, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  #new-exp {
    display: none;
  }

  /* line 698, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  .guest-mobile.wrapper {
    display: block;
    color: black;
    padding: 55px 10px 10px 10px;
    font-weight: 300;
  }
  /* line 705, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  .guest-mobile.wrapper .add-experience p {
    color: grey;
  }
  /* line 708, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  .guest-mobile.wrapper .add-experience button {
    border: none;
    background: white;
    border-shadow: 0px 0px 3px white, 0px 0px 6px black;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 1.5em;
  }
  /* line 716, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  .guest-mobile.wrapper .add-experience .done {
    background: green;
    color: white;
  }
  /* line 720, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  .guest-mobile.wrapper .add-experience button:focus {
    outline: none;
  }

  /* line 727, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  .no-display {
    display: none;
  }

  /* line 730, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  .wrapper {
    padding: 0px;
    margin: 0px;
  }

  /* line 734, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  .modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
  }
  /* line 739, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  .modal-dialog .modal-content {
    height: 100%;
  }

  /* line 746, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  .mobile-menu-container {
    display: block;
    position: fixed;
    top: 51px;
    width: 100%;
    background: #3B5998;
    padding: 0px;
    margin: 0px;
  }
  /* line 755, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  .mobile-menu-container .map-side-menu-content {
    line-height: 4em;
  }

  /* line 759, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  .no-padding {
    padding: 0px;
  }

  /* line 763, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  #ask-friends-mobile-btn {
    display: block;
    width: 100%;
  }

  /* line 767, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  .mobile-tapbar-container {
    z-index: 5;
    display: block;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: #3B5998;
    line-height: 4em;
  }
  /* line 769, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  .mobile-tapbar-container .container {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
  /* line 784, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  .mobile-tapbar-container a i {
    color: white;
  }
  /* line 787, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  .mobile-tapbar-container .dropdown-menu.dropdown-menu-right {
    margin-right: 14%;
  }
  /* line 790, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  .mobile-tapbar-container .dropdown-menu.dropdown-menu-right li {
    padding: 12px 5px;
    line-height: 1em;
    color: grey;
    font-weight: 100;
    height: auto;
  }
  /* line 797, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  .mobile-tapbar-container .dropdown-menu.dropdown-menu-right li:hover, .mobile-tapbar-container .dropdown-menu.dropdown-menu-right li:visited {
    background: whitesmoke;
  }

  /* line 803, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  .owl-controls {
    position: absolute;
    top: 50px;
    left: 85px;
  }
  /* line 808, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  .owl-controls .owl-prev {
    position: absolute;
    left: -85px;
  }
  /* line 813, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  .owl-controls .owl-next {
    position: absolute;
    left: 131px;
  }

  /* line 819, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  .map-side-menu-container {
    display: none;
  }

  /* line 822, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  .map-container {
    z-index: 1;
    top: 111px;
    left: 0px;
    width: 100%;
    height: 75%;
  }
  /* line 829, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  .map-container #search-bar {
    display: none;
  }
  /* line 838, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  .map-container .map-bottom-btn {
    display: none;
  }
  /* line 848, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  .map-container .map-up-btn {
    bottom: 0%;
    box-shadow: none;
    position: absolute;
    left: 0px;
    width: 100%;
    border-radius: 0px;
  }
  /* line 877, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  .map-container .gmnoprint {
    display: none;
  }

  /* line 882, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  .sidebar {
    z-index: 2;
    background: #F0F1F5;
    top: 111px;
    left: 0px;
    width: 100%;
  }
  /* line 889, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  .sidebar .selection-title {
    display: none;
  }
  /* line 893, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  .sidebar .selection-content {
    margin: 0px;
  }
  /* line 896, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  .sidebar .selection-content #draggablePanelList {
    margin: 0px;
  }

  /* line 916, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
  html, body {
    overflow: initial;
  }
}
/* line 921, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/map.css.scss */
.fa-search {
  padding-right: 5px;
}
