/* line 6, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/navbar_hp.css.scss */
.navbar {
  position: absolute;
}

/* line 10, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/navbar_hp.css.scss */
.navbar-wagon {
  background: transparent;
  border-bottom: none;
}

/* line 15, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/navbar_hp.css.scss */
.navbar-wagon .navbar-nav > li > a {
  color: lightgrey;
}

/* line 19, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/navbar_hp.css.scss */
.navbar-wagon .navbar-nav > li > a:hover {
  color: lightgrey;
}

/* line 23, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/navbar_hp.css.scss */
.navbar-wagon .navbar-nav > li > a:visited {
  color: lightgrey;
}

/* line 29, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/navbar_hp.css.scss */
.navbar-wagon .navbar-nav > .open > a,
.navbar-wagon .navbar-nav > .open > a:hover,
.navbar-wagon .navbar-nav > .open > a:focus {
  color: lightgrey;
}

/* line 34, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/navbar_hp.css.scss */
.navbar-wagon .navbar-brand,
.navbar-wagon .navbar-brand:hover {
  color: white;
}

@media screen and (max-width: 768px) {
  /* line 39, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/navbar_hp.css.scss */
  .navbar-collapse {
    position: relative;
    background-color: white;
  }

  /* line 43, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/navbar_hp.css.scss */
  .navbar-wagon .navbar-nav > li > a {
    color: black;
  }

  /* line 46, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/navbar_hp.css.scss */
  .navbar-wagon .navbar-nav > li > a:visited {
    color: black;
  }

  /* line 51, /Users/Julien/code/juliendebray/philae/app/assets/stylesheets/navbar_hp.css.scss */
  .navbar-wagon .navbar-nav > .open > a,
  .navbar-wagon .navbar-nav > .open > a:hover,
  .navbar-wagon .navbar-nav > .open > a:focus {
    color: black;
  }
}
