<div class="container content">

  <div id="titleblock" class="text-center">
    <h1>My account</h1>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h2>My trips</h2>
      </div>
    </div>

    <div class="row">
      <% @user.trips.each do |trip| %>
        <div class="col-md-3">
          <div class="tripbox">
            <%= link_to trip.title, start_trip_path(trip) %>
            <%= link_to [trip], method: :delete do %>
              <i class= "pull-right fa fa-times"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>My friends</h2>
      </div>
    </div>
  </div>
</div>