<% if experience.experience_pictures.size > 0 %>
    <div id="owl-experiences-banner" class="owl-carousel banner text-center">
      <% experience.experience_pictures.each do |pic| %>
        <div class="item-banner" style="max-width: 100%">
          <%= image_tag(pic.picture.url(:banner)) %>
        </div>
      <% end %>
    </div>
<% end %>
<div class="experience-content">
 <%= experience.description %>
</div>

