<body class="newexperience">
  <div class="container">
    <div id="titleblock" class="text-center">
      <div class="title">
        <h2><%= t('.title', :default => "New experience") %></h2>
      </div>
    </div>
<%= render 'form' %>
</body>

