var tmpl = '<li class="panel panel-info">' +
  '<div class="panel-heading"><%= @trip_experience.experience.name %>' +
    '<i class= "pull-right fa fa-times"></i>'+
  '</div>'+
  '<div class="panel-body"><%= @trip_experience.experience.description %></div>'+
'</li>';

$('#draggablePanelList').append(tmpl);
