<% content_for(:title) do %>
  <%= "Explorizers | CGU" %>
<% end %>

<% content_for(:description) do %>
  <%= "Conditions générales d'utilisation" %>
<% end %>
<div class="homepage_story">
  <div class="story">

    <div id="titleblock" class="text-center">
      <div class="title">
        <h2>Conditions générales d'utilisation></h2>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h4>Le présent document a pour objet de définir les modalités et conditions dans lesquelles d’une part, explorizers.com, ci-après dénommé l’EDITEUR, met à la disposition de ses utilisateurs le site, et les services disponibles sur le site et d’autre part, la manière par laquelle l’utilisateur accède au site et utilise ses services.</h4><br>
        <h4>Toute connexion au site est subordonnée au respect des présentes conditions.</h4><br>
        <h4>Pour l’utilisateur, le simple accès au site de l’EDITEUR aux adresses URL explorizers.com et explorizers.fr implique l’acceptation de l’ensemble des conditions décrites ci-après.</h4><br>
        <h3>Propriété intellectuelle</h3><br>
        <h4>La structure générale du site explorizers.com , ainsi que les textes, graphiques, images, sons et  vidéos la composant, sont la propriété de l'éditeur ou de ses partenaires. Toute représentation et/ou reproduction et/ou exploitation partielle ou totale des contenus et services proposés par le site explorizers.com, par quelque procédé que ce soit, sans l'autorisation préalable et par écrit de explorizers.com et/ou de ses partenaires est strictement interdite et serait susceptible de constituer une contrefaçon au sens des articles L 335-2 et suivants du Code de la propriété intellectuelle.</h4><br>
        <h3>Accès au site</h3><br>
        <h4>L’éditeur s’efforce de permettre l’accès au site 24 heures sur 24, 7 jours sur 7, sauf en cas de force majeure ou d’un événement hors du contrôle de l’EDITEUR, et sous réserve des éventuelles pannes et interventions de maintenance nécessaires au bon fonctionnement du site et des services.</h4><br>
        <h4>Par conséquent, l’EDITEUR ne peut garantir une disponibilité du site et/ou des services, une fiabilité des transmissions et des performances en terme de temps de réponse ou de qualité. Il n’est prévu aucune assistance technique vis à vis de l’utilisateur que ce soit par des moyens électronique ou téléphonique.</h4><br>
        <h4>La responsabilité de l’éditeur ne saurait être engagée en cas d’impossibilité d’accès à ce site et/ou d’utilisation des services.Par ailleurs, l’EDITEUR peut être amené à interrompre le site ou une partie des services, à tout moment sans préavis, le tout sans droit à indemnités. L’utilisateur reconnaît et accepte que l’EDITEUR ne soit pas responsable des interruptions, et des conséquences qui peuvent en découler pour l’utilisateur ou tout tiers.</h4><br>
        <h3>Liens hypertextes</h3><br>
        <h4>Le site explorizers.com  peut contenir des liens hypertextes vers d’autres sites présents sur le réseau Internet. Les liens vers ces autres ressources vous font quitter le site explorizers.com.</h4><br>
        <h4>Il est possible de créer un lien vers la page de présentation de ce site sans autorisation expresse de l’EDITEUR. Aucune autorisation ou demande d’information préalable ne peut être exigée par l’éditeur à l’égard d’un site qui souhaite établir un lien vers le site de l’éditeur. Il convient toutefois d’afficher ce site dans une nouvelle fenêtre du navigateur. Cependant, l’EDITEUR se réserve le droit de demander la suppression d’un lien qu’il estime non conforme à l’objet du site explorizers.com.</h4><br>
        <h3>Responsabilité de l’éditeur</h3><br>
        <h4>Les informations et/ou documents figurant sur ce site et/ou accessibles par ce site proviennent de sources considérées comme étant fiables.</h4><br>
        <h4>Toutefois, l’utilisation des informations et/ou documents disponibles sur ce site se fait sous l’entière et seule responsabilité de l’utilisateur, qui assume la totalité des conséquences pouvant en découler, sans que l’EDITEUR puisse être recherché à ce titre, et sans recours contre ce dernier.</h4><br>
        <h4>L’EDITEUR ne pourra en aucun cas être tenu responsable de tout dommage de quelque nature qu’il soit résultant de l’interprétation ou de l’utilisation des informations et/ou documents disponibles sur ce site.</h4><br>
        <h3>Lien vers d’autres sites et d’autres prestataires</h3><br>
        <h4>Le site contient des liens vers des prestataires tiers et notamment leurs sites internet, lesquels sont détenus et exploités par des revendeurs ou des prestataires de service indépendants. En aucun cas, explorizers.com ne saurait être associé aux sites internet des tiers en question.</h4><br>
        <h4>De ce fait, explorizers.com ne peut garantir que l’utilisateur sera satisfait de leurs produits, services ou pratiques commerciales. Il appartient à l’utilisateur de faire toutes les vérifications qui semblent nécessaires ou opportunes avant de procéder à une quelconque transaction avec l'un de ces tiers.</h4><br>
        <h3>Modification des conditions d’utilisation</h3><br>
        <h4>L’EDITEUR se réserve la possibilité de modifier, à tout moment et sans préavis, les présentes conditions d’utilisation afin de les adapter aux évolutions du site et/ou de son exploitation.</h4><br>
      </div>
    </div>
  </div>
</div>