<body class="faq">
  <div id="titleblock" class="text-center">
    <div class="title">
      <h2>A propos d'Explorizers</h2>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div class="faq-page">
        <div class="modal-header">
          <h4 class="modal-title text-center">Qui est Explorizers ?</h4>
        </div>
        <div class="modal-body">
          <p dir="ltr">
            Nous sommes deux <b>passionnés de voyage</b>, et nous sommes décidés à partager notre passion et notre expérience au service des voyageurs.
          </p>
          <br>
          <p dir="ltr">
              Au-delà de <a href="mailto:julien@explorizers.com"> Julien</a> et <a href="mailto:florian@explorizers.com"> Florian</a>, les deux fondateurs, Explorizers c’est aussi une <b>communauté de voyageurs</b> qui aident à construire une base de données de conseils et bons plans, à laquelle chacun peut contribuer !
          </p>
          <br>
        </div>
        <div class="modal-header">
          <h4 class="modal-title text-center">Pourquoi avons-nous créé Explorizers ?</h4>
        </div>
        <div class="modal-body">
          <p dir="ltr">
            Sitôt la destination choisie, chaque voyageur se pose LA question : <b>comment profiter au maximum de mon voyage</b> ? Que voir, que faire, quels sont les lieux et expériences qui me ressemblent et que je tiens à vivre lors de ce voyage ? Vais-je pouvoir tout faire ? Comment je m’organise ?
          </p>
          <br>
          <p dir="ltr">
            On se lance alors dans des recherches qui demandent du temps : on lit des blogs de voyage, on regarde les forums, on demande des conseils à ses amis, on lit des guides, on regarde des circuits proposés par des agences… Bref, on se noie sous la tonne d'information et il est <b>difficile de faire des choix</b> pertinents. Et ça en devient stressant !
          </p>
          <br>
          <p dir="ltr">
            Nous avons conçu Explorizers dans le but de <b>simplifier la préparation du voyage</b>. Sur la base de nos voyages, des conseils d’autres voyageurs et de locaux, et en profitant de la masse d’informations disponibles en ligne, <b>nous avons fait le travail de compilation des informations</b> issues de sources fiables pour aider les voyageurs à construire et planifier leur voyage plus facilement.
          </p>
          <br>
          <p dir="ltr">
            Notre but est de faire de la préparation du voyage une étape aussi fluide et agréable que le voyage en lui-même !
          </p>
          <br>
        </div>
        <div class="modal-header">
          <h4 class="modal-title text-center">Que fait Explorizers ?</h4>
        </div>
        <div class="modal-body">
          <p dir="ltr">
            Explorizers a fait 90% du travail pour vous. Nous avons recoupé et compilé <b>les conseils des meilleurs sites de voyage</b> et toutes les informations indispensables pour préparer votre voyage :
          </p>
          <ul>
            <li>Tous les lieux et expériences de votre destination, les incontournables comme les pépites hors des sentiers battus</li>
            <li>Les <b>avis des guides référence</b>, Lonely Planet et Guide du Routard</li>
            <li>Les <b>avis des voyageurs</b>, issus de TripAdvisor</li>
            <li>Les <b>informations pratiques</b> : combien de temps rester dans chaque endroit, comment s’y rendre, dans quel endroit dormir…</li>
            <li>Et des détails sur votre destination : pourquoi y aller, itinéraires recommandés, formalités, …</li>
          </ul>
          <br>
          <p dir="ltr">
            Cerise sur le gâteau, nous avons développé une fonctionnalité exclusive de recueil des <b>conseils de vos proches</b>, par Facebook ou email, pour votre prochain voyage !
          </p>
          <br>
          <p dir="ltr">
            Il ne vous reste plus qu’à sélectionner ce qui vous plait pour construire <b>votre voyage sur-mesure</b>, et explorer le monde à votre façon !
          </p>
          <br>
        </div>
        <div class="modal-header">
          <h4 class="modal-title text-center">Quelles sont les destinations couvertes par Explorizers ?</h4>
        </div>
        <div class="modal-body">
          <p dir="ltr">
            Pour assurer une excellente qualité et fiabilité du contenu, les destinations sont travaillées et mises en ligne progressivement. La liste des destinations est disponibles <%= link_to 'ici', destinations_path %>.
          </p>
          <br>
        </div>
        <div class="modal-header">
          <h4 class="modal-title text-center">Quelles sont nos valeurs ?</h4>
        </div>
        <div class="modal-body">
          <p dir="ltr">
            Nous pensons que la vie est courte et que les voyages sont le meilleur moyen pour en <b>profiter au maximum</b> ! C’est pourquoi Explorizers recense les meilleurs endroits à visiter et les meilleures expériences à vivre partout dans le monde.
          </p>
          <br>
          <p dir="ltr">
            Le <b>partage</b> fait partie intégrante du voyage, et il n’y a rien de plus généreux que d’échanger ses conseils pour que ses amis découvrent les merveilles de ce monde. Nous avons conçu Explorizers pour faire profiter tous les voyageurs des meilleurs conseils, accessibles simplement sur une plateforme unique.
          </p>
          <br>
        </div>
        <div class="modal-header">
          <h4 class="modal-title text-center">Comment contribuer à Explorizers ?</h4>
        </div>
        <div class="modal-body">
          <p dir="ltr">
            Explorizers est un <b>site vivant</b> et en constante évolution.
          </p>
          <br>
          <p dir="ltr">
            Vous pouvez y contribuer de trois manières :
          </p>
          <ol>
            <li>Depuis <%= link_to 'cette page', new_experience_path %>, vous pouvez <b>recommander des expériences</b> à ajouter à la base de données</li>
            <li>Vous pouvez <b>nous dire ce qui vous plait</b>, ce que vous n’aimez pas, et ce que vous aimeriez trouver sur Explorizers, en nous envoyant un email à <a href="mailto:dora@explorizers.com">dora@explorizers.com</a></li>
            <li><b>Partagez Explorizers</b> ! Le succès du projet dépendra en partie des contributions des utilisateurs : plus vous en parlez autour de vous, plus le site sera complet !</li>
          </ol>
          <br>
        </div>
        <div class="modal-header">
          <h4 class="modal-title text-center">Mes données personnelles sont-elles protégées ?</h4>
        </div>
        <div class="modal-body">
          <p dir="ltr">
            Explorizers permet, via l’espace personnel du voyageur, de garder en mémoire vos voyages en projet ou passés. Ces informations sont purement confidentielles, et toutes vos données personnelles sont protégées.
          </p>
          <br>
        </div>
        <div class="modal-header">
          <h4 class="modal-title text-center">Puis-je supprimer mon compte ?</h4>
        </div>
        <div class="modal-body">
          <p dir="ltr">
            Nous en serions déçu, mais vous pouvez nous envoyer un email à <a href="mailto:dora@explorizers.com">dora@explorizers.com</a> pour nous demander la suppression de votre compte.
          </p>
          <br>
        </div>
        <div class="modal-header">
          <h4 class="modal-title text-center">Comment contacter Explorizers ?</h4>
        </div>
        <div class="modal-body">
          <p dir="ltr">
            Vous pouvez contacter Explorizers en écrivant à <a href="mailto:dora@explorizers.com"> dora@explorizers.com</a>, ou depuis la page <%= link_to 'Contact', new_contact_path %>.
          </p>
          <br>
        </div>
      </div>
    </div>
  </div>
</body>
<%= render partial: 'shared/footer' %>