// over-ride Bootstrap theme with Sass variables
$btn-primary-bg: #3598DB;

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700");
$font-family-sans-serif: 'Open Sans';


// SCSS files installed with gems
@import "bootstrap";
@import "bootstrap-social";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "owl.carousel";
@import "owl.theme";


// SCSS stylesheets files
@import "navbar";
@import "footer";
@import "home";
@import "contacts";
@import "experiences_index";
@import "jquery-ui";
@import "signup-login";
@import "exp-rm";
@import "myaccount";


// General customized styles


body.wrapper {
  background-color: #E0DDDB;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  color: grey;
  height: 800px;
  padding: 15px;
  margin-top: 30px;
}

.title {
  padding-bottom: 20px;
}

body.homepage_story {
  background-image: image-url("lonely.jpg");
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  color: #238BFF;
  height: 800px;
  padding-top: 56px;
}

body.signup-signin {
  background-image: image-url("deck.jpg");
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  color: grey;
  height: 800px;
  padding-top: 80px;
}


.vertical-spacer {
  height: 6em;
}

.infobox-container {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}
.infoBox::before {
  border-color: #fff transparent transparent transparent;
  border-width: 15px;
  border-style: solid;
  content: '';
  display: inline-block;
  position: absolute;
  bottom: -20px;
  margin: 0 0 0 124px;
}

#experience-infowindow {
  margin: 10px;
  padding-top: 10px;
}

#owl-experiences {
  height: 174px;
}

.owl-controls.clickable {
  margin: 0px;
  position: relative;
  top: -125px;


  .owl-prev {
    position: relative;
    left: -95px;
  }
  .owl-next {
    position: relative;
    right: -95px;
  }
}

.owl-theme .owl-controls .owl-buttons div {
  font-size: 40px;
  background: transparent;
}



// .owl-theme .owl-controls{
//   margin-top: 10px;
//   text-align: center;
// }

// /* Styling Next and Prev buttons */
// .owl-theme .owl-controls .owl-buttons div{
//   color: #FFF;
//   display: inline-block;
//   zoom: 1;
//   *display: inline;/*IE7 life-saver */
//   margin: 5px;
//   padding: 3px 10px;
//   font-size: 12px;
//   -webkit-border-radius: 30px;
//   -moz-border-radius: 30px;
//   border-radius: 30px;
//   background: #869791;
//   filter: Alpha(Opacity=50);/*IE7 fix*/
//   opacity: 0.5;
// }
// /* Clickable class fix problem with hover on touch devices */
// /* Use it for non-touch hover action */
// .owl-theme .owl-controls.clickable .owl-buttons div:hover{
//   filter: Alpha(Opacity=100);/*IE7 fix*/
//   opacity: 1;
//   text-decoration: none;
// }


