// over-ride Bootstrap theme with Sass variables
$btn-primary-bg: #3598DB;

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700");
$font-family-sans-serif: 'Open Sans';


// SCSS files installed with gems
@import "bootstrap";
@import "bootstrap-social";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "owl.carousel";
@import "owl.theme";


// SCSS stylesheets files
@import "navbar";
@import "footer";
@import "home";
@import "contacts";
@import "experiences_index";
@import "jquery-ui";
@import "signup-login";
@import "exp-rm";
@import "myaccount";


// General customized styles


body.wrapper {
  background-color: #E0DDDB;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  color: grey;
  height: 800px;
  padding-top: 100px;
}

.title {
  padding-bottom: 20px;
}

body.homepage_story {
  background-image: image-url("lonely.jpg");
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  color: #238BFF;
  height: 800px;
  padding-top: 56px;
}

body.signup-signin {
  background-image: image-url("deck.jpg");
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  color: grey;
  height: 800px;
  padding-top: 80px;
}



