// Place all the styles related to the AskYourFriends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body.askfriends {
  background-image: image-url("maphands.jpg");
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  color: grey;
  height: 800px;
  padding-top: 50px;
  h2 {
    color: white;
    text-shadow: 0px 0px 3px white, 0px 0px 6px black;
    padding-bottom: 30px;
  }
  a {
    color: white;
  }
  .box-content {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    background: rgba(0,0,0,0.4);
    font-weight: 300;
    padding: 15px;
    margin: 10px;
    heigth: 50%;
    color: white;
    h4 {
    font-weight: 300;
    }
  }
}

// .box-content {
// box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
// background: rgba(0,0,0,0.4);
// font-weight: 100;
// padding: 15px;
// margin: 10px;
// heigth: 50%;
// color: white;
//  h4 {
//   font-weight: 300;
//  }
// }


// .box-content {
//   box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
//   background: white;
//   font-weight: 100;
//   padding: 15px;
//   margin: 10px;
//   heigth: 50%;

.btn {
    font-size: 18px;
    font-weight: 300;
}

@media screen and (max-width: 580px) {
  .box-content {
    width: 95%;
  }
  // .btn {
  //   font-size: 15px;
  // }
}


