// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.contactpage {
  background-image: image-url("photo_girl.jpeg");
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  height: 800px;
  padding-top: 90px;
  color: black;
  h2 {
    text-align: center;
    color: white;
    text-shadow: 0px 0px 3px white, 0px 0px 6px black;
    padding-bottom: 30px;
  }
  .box-content {
    background: rgba(0,0,0,0.2);
    font-weight: 300;
    padding: 15px;
    margin: 10px;
    heigth: 50%;
    color: white;
  }
 .form-control {
    border-radius: 0px;
  }
}

.header {
  color: $color2;
  font-size: 27px;
  padding: 8px;
}

.bigicon {
  font-size: 30px;
  color: white;
  margin-right: 0px;
}

