// Place all the styles related to the destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#navbar-menu {
  position: fixed;
  top: 0px;
  // background-color: white;
  background-color: #F7F7F7;
  z-index: 2;
  border-bottom: lightgrey;
  border-bottom-style: solid;
  border-width: 2px;
  a {
    font-size: 18px;
    font-weight: 300;
  }
}


// Styles for Destination index

.destination-box {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  width: 100%;
  .destination-picture {
    img {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center bottom;
      background-attachment: fixed;
      -webkit-transition: all 0.5s ease; /* Safari and Chrome */
      -moz-transition: all 0.5s ease; /* Firefox */
      -ms-transition: all 0.5s ease; /* IE 9 */
      -o-transition: all 0.5s ease; /* Opera */
      transition: all 0.5s ease;
    }
  }
  .destination-name {
    display: block;
    text-align: center;
    width: 100%;
    letter-spacing: 0px;
    font-size: 1em;
    color: white;
    bottom: 0px;
    // background: rgba(0,0,0,0.3);
    position: absolute;
    margin: auto;
    small {
      font-size: 35px;
      font-weight: 300;
    }
  }
}

.destination-box:hover {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  img {
    // filter: grayscale(25%);
    // -webkit-filter: grayscale(25%);
    // -moz-filter: grayscale(25%);
    // -ms-filter: grayscale(25%);
    // -o-filter: grayscale(25%);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
}

// Styles for show destination
.destination-banner {
  position: relative;
  img {
    width: 100%;
  }
}
.title-destination-page {
  position: absolute;
  top: 40%;
  bottom: 46%;
  left: 0;
  right: 0;
  font-size: 60px;
  font-weight: 400;
  color: white;
  text-align: center;
  text-shadow: 0px 0px 1px white, 0px 0px 4px black;
}

.destination-explanation {
  padding: 20px 20px 0px 20px;
  width: 100%;
  // background-color: rgba(0,0,0,0.03);
  background-color: #FAFAFA;
  h3 {
    color: #525252;
    text-shadow: none;
    font-weight: 300;
  }
  p {
    letter-spacing: .01rem;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 1.5;
  }
  .onboarding-intro {
    .fa {
      font-size: 50px;
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 1%;
    }
  }
  .onboarding-intro:hover {
    .fa {
      color: #FF7519;
    }
  }
  .onboarding-picture {
    img {
      vertical-align: middle;
      width: 100%;
      height: 100%;
      border-width: 20px;
      border-color: white;
      border-style: solid;
      background-size: cover;
      background-position: center bottom;
      background-attachment: fixed;
    }
  }
  .how-header {
    i {
      font-size: 4em;
      color: #0086B8;
      margin-bottom: 20px;
    }
    p {
      font-weight: 500;
    }
  }
  .how-content {
    p {
      letter-spacing: .01rem;
      font-weight: 300;
      font-style: normal;
      font-size: 16px;
      line-height: 1.5;
    }
    b {
      font-weight: 400;
    }
  }
  .fa-angle-down {
    position: relative;
  }
}

.destination-content {
  // padding: 2%;
  p {
    letter-spacing: .01rem;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    line-height: 1.5;
  }
  h3 {
    p {
      font-weight: 500;
      font-size: 20px;
    }
  }
  b {
    font-weight: 400;
  }
  ol, li {
    font-size: 19px;
    font-weight: 400;
  }
  .destination-intro {
    // background-color: #F4E8D8;
    background-color: #F9F9F9;
    .row {
      margin-left: 0px;
      margin-right: 0px;
    }
    p {
      text-align: center;
      font-size: 17px;
      margin-bottom: 0;
    }
    .block-separator {
      border-top: solid 1px #CCCCCC;
      margin-top: 5px;
      margin-bottom: 10px;
    }
  }
  .things-to-know {
    background-color: #FFFFFF;
    // .col-md-2 {
    //   padding-left: 0;
    //   padding-right: 0;
    // }
    p {
      font-size: 16px;
    }
    // .to-know-box {
    //   display: table;
    //   height: 160px;
    //   overflow: hidden;
    //   border-top-width: 1px;
    //   border-top-color: #525252;
    //   border-top-style: solid;
    //   background-color: #FAFAFA;
    //   .text {
    //     padding: 1%;
    //     display: table-cell;
    //     overflow: hidden;
    //     vertical-align: middle;
    //   }
    // }
    .panel {
      margin-bottom: 15px;
      .panel-heading {
        text-align: center;
        vertical-align: middle;
        background-color: #F9F9F9;
        // border-width: 1px;
        // border-color: lightgrey;
        // border-style: solid;
        padding-bottom: 1px;
        padding-top: 1px;
        p {
          display: inline-flex;
          font-size: 22px;
          font-weight: 400;
          padding-bottom: 5px;
          padding-top: 5px;
          margin-bottom: 0;
        }
        .fa-angle-down {
          position: relative;
          font-size: 29px;
          color: lightgrey;
          margin-left: 20px;
          vertical-align: middle;
        }
      }
      .panel-heading:hover {
        background-color: lightgrey;
        .fa-angle-down {
          color: white;
        }
      }
    }
  }
  .experience-name {
    text-align: left;
    width: 100%;
    letter-spacing: 0px;
    font-size: 1em;
    color: #525252;
    bottom: 0px;
    margin: auto;
    p {
      font-size: 22px;
      font-weight: 400;
    }
  }
  .experience-big-box {
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    width: 100%;
    background: rgba(0,0,0,0.1);
    .experience-picture {
      img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center bottom;
        background-attachment: fixed;
        -webkit-transition: all 0.5s ease; /* Safari and Chrome */
        -moz-transition: all 0.5s ease; /* Firefox */
        -ms-transition: all 0.5s ease; /* IE 9 */
        -o-transition: all 0.5s ease; /* Opera */
        transition: all 0.5s ease;
      }
    }
    .experience-one-sentence {
      padding: 5px;
      display: none;
      text-align: center;
      width: 100%;
      top: 0;
      height: 100%;
      letter-spacing: 0px;
      font-size: 1em;
      color: white;
      background: rgba(0,0,0,0.3);
      position: absolute;
      margin: auto;
      small {
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        font-size: 20px;
        font-weight: 200;
        text-shadow: 0px 0px 1px white, 0px 0px 3px black;
      }
    }
    .experience-name {
      text-align: center;
      width: 100%;
      letter-spacing: 0px;
      font-size: 1em;
      color: white;
      top: 40%;
      position: absolute;
      margin: auto;
      small {
        font-size: 25px;
        font-weight: 200;
        text-shadow: 0px 0px 1px white, 0px 0px 6px black;
      }
    }
    .other-experience-category {
      position: absolute;
      top: 0;
      left: 0;
      width: 66%;
      display: inline-flex;
      p {
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        text-align: center;
        font-size: 17px;
        margin-bottom: 0;
        font-weight: 300;
        color: white;
        .fa {
          font-size: 20px;
          margin-right: 5px;
        }
      }
      .experience-category-otbt {
        width: 100%;
        background-color: #FCB941;
      }
      .experience-category-nature {
        width: 100%;
        background-color: #2CC990;
      }
      .experience-category-culture {
        width: 100%;
        // background-color: #EEE657;
        background-color: #968D73;
      }
      .experience-category-sport {
        width: 100%;
        background-color: #FC6042;
      }
      .experience-category-relax {
        width: 100%;
        background-color: #2C82C9;
      }
    }

  }
  .experience-big-box:hover {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    .experience-name {
      display: none;
    }
    .experience-one-sentence {
      display: block;
    }
    img {
      // filter: grayscale(25%);
      // -webkit-filter: grayscale(25%);
      // -moz-filter: grayscale(25%);
      // -ms-filter: grayscale(25%);
      // -o-filter: grayscale(25%);
      -moz-transform: scale(1.05);
      -webkit-transform: scale(1.05);
      -o-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05);
    }
    .other-experience-category {
      position: absolute;
      top: 0;
      left: 0;
      width: 66%;
      display: inline-flex;
      p {
        width: 100%;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 17px;
        margin-bottom: 0;
        font-weight: 300;
        color: white;
        .fa {
          font-size: 20px;
          margin-right: 5px;
        }
      }
    }
  }
  .experience-details {
    text-align: left;
    .experience-one-sentence {
      font-size: 20px;
      margin-bottom: 15px;
    }
    .experience-category {
      display: inline-flex;
      margin-bottom: 10px;
      p {
        margin-left: 15px;
        margin-right: 15px;
        font-size: 15px;
        margin-bottom: 1px;
        margin-top: 1px;
        font-weight: 300;
        color: white;
        .fa {
          margin-right: 10px;
        }
      }
      .experience-category-otbt {
        width: 100%;
        background-color: #FCB941;
      }
      .experience-category-nature {
        width: 100%;
        background-color: #2CC990;
      }
      .experience-category-culture {
        width: 100%;
        // background-color: #EEE657;
        background-color: #968D73;
      }
      .experience-category-sport {
        width: 100%;
        background-color: #FC6042;
      }
      .experience-category-relax {
        width: 100%;
        background-color: #2C82C9;
      }
    }
    .experience-good-bad-points {
      td {
        padding-top: 5px;
      }

      p {
        font-size: 15px;
        margin-bottom: 0;
        font-weight: 300;
        padding-left: 10px;
        text-align: left;
        text-align: justify;
      }
      i {
        margin-top: 2px;
      }
      .fa {
        font-size: 23px;
      }
      .fa-minus-circle {
        color: red;
      }
      .fa-plus-circle {
        color: green;
      }
    }
    .experience-description {
      text-align: justify;
      p {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 300;
      }
    }
    .experience-know-more {
      p {
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
}
.destination-collapse {
  position: relative;
  img {
    width: 100%;
  }
  a.destination-collapse:hover {
    color: white;
    text-decoration: underline;
  }
  a.destination-collapse:focus {
    color: white;;
  }
}

#overview, #must-see, #recommended-trip {
  position: relative;
  img {
    width: 100%;
  }
  h2 {
    position: absolute;
    top: 40%;
    bottom: 51%;
    left: 0;
    right: 0;
    font-size: 4em;
    letter-spacing: 2px;
    color: white;
    text-shadow: 0px 0px 1px white, 0px 0px 3px black;

  }
}

a#must-see-img:hover {
  img {
    opacity: 0.7;
  }
  .hover-img {
    display: block;
  }
}
.hover-img {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 25%;
  font-size: 4em;
  color: white;
  text-shadow: 0px 0px 1px white, 0px 0px 3px black;
}

.navbar-wagon .navbar-nav > li > a {
  color: black;
}
.bg-black{
  background: black;
}

#bottom-start-planning {
 color: white;
 background: #2b2d2e;
 height: 100%;
 padding-top: 5%;
 padding-bottom: 5%;
}

.wrapper.bg-white.black {
  background-color: white;
  // color: black;
  padding-bottom: 0px;
}

.medium {
  letter-spacing: .01rem;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  line-height: 1.5;
}
.no-margin {
  position: absolute;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.destination-tagline {
  color: white;
  font-size: 2em;
  font-weight: 100;
  margin-top: 20px;
}

#start-planning {
  z-index: 1;
  position: fixed;
  right: 0px;
  top: 42%;
  .btn {
    font-size: 14px;
    // height: 70px;
    // width: 45px;
    border-radius: 90px 90px 0 0;
    -moz-border-radius: 90px 90px 0 0;
    -webkit-border-radius: 90px 0 0 90px;
    background: #FF7519;
  }
  .fa {
    color: white;
    font-size: 14px;
    // padding-top: 15px;
    // padding-left: 5px;
  }
}

.itinerary_image {
  // position: relative;
  margin-bottom: 30px;
  img {
    width: 100%;
    filter: sepia(0.1);
    -webkit-filter: sepia(0.1);
    -moz-filter: sepia(0.1);
    -o-filter: sepia(0.1);
    -ms-filter: sepia(0.1);
  }
}
.itinerary_image:hover, .itinerary_image.active, {
  position: relative;
  margin-bottom: 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  img {
    width: 100%;
    filter: sepia(0);
    -webkit-filter: sepia(0);
    -moz-filter: sepia(0);
    -o-filter: sepia(0);
    -ms-filter: sepia(0);
  }
}
.destination-itineraries {
  padding-left: 5%;
  padding-right: 5%;
  .panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: none;
  }
  .panel-group {
    display: inline;
  }
  .panel {
    .panel-heading {
      border-top-width: 1px;
      border-top-color: lightgrey;
      border-top-style: solid;
      padding-bottom: 0px;
      padding-top: 15px;
      padding-right: 0;
      padding-left: 0;
      .fa {
        position: relative;
        vertical-align: sub;
        color: #525252;
        font-size: 25px;
      }
      .itinerary-title {
        // position: absolute;
        // top: 40%;
        text-align: left;
        width: 100%;
        letter-spacing: 0px;
        font-size: 1em;
        color: #525252;
        margin: auto;
        p {
          font-size: 17px;
          font-weight: 400;
          margin-bottom: 0px;
        }
      }
      .itinerary_image {
        margin-bottom: 0;
      }
      .customize-trip-btn {
        text-align: right;

        .select-trip {
          font-size: 15px;
          white-space: normal;
        }
        .remove-trip {
          font-size: 15px;
          white-space: normal;
          p {
            font-size: 15px;
          }
        }

      }
      .rec-trip-duration {
        p {
          font-size: 17px;
          font-weight: 300;
          color: #525252;
          margin-bottom: 0;
        }
      }
      .rec-trip-suggested-by {
        display: inline-flex;
        display: table;
        margin-top: 5px;
        p {
          display: table-cell;
          vertical-align: middle;
          font-size: 15px;
          font-weight: 300;
          color: #525252;
          margin-bottom: 0;
        }
        img {
          display: table-cell;
          vertical-align: middle;
          border: 0px solid white;
          box-shadow: 0 0 2px #c8c8c8;
          height: 50px;
          width: 50px;
          margin-right: 10px;
          border-radius: 100%;
        }
      }
    }
      .see-rec-trip-detail {
        p {
          font-size: 15px;
        }
      }
    }
    .rec-trip-info {
      background-color: #FAFAFA;
      margin-bottom: 10px;
      padding-left: 0;
      padding-right: 0;
    }
    .rec-trip-description {
      text-align: justify;
      padding: 5px;
      p {
        font-size: 17px;
        font-weight: 300;
        color: #525252;
      }
    }
    .itinerary-good-points {
      table {
        margin: auto;
      }
      td {
        padding-top: 5px;
      }
      p {
        color: #525252;
        font-size: 15px;
        margin-bottom: 0;
        font-weight: 300;
        padding-left: 10px;
        text-align: left;
        // text-align: justify;
      }
      i {
        margin-top: 2px;
      }
      .fa {
        font-size: 23px;
      }
      .fa-plus-circle {
        color: green;
      }
    }
  .panel-title {
    background-color: #F9F9F9;
  }
  .panel-body {
    padding-top: 0px;
  }
}

.itinerary_exp-images {
  position: relative;
  margin-bottom: 15px;
  overflow: hidden;
  width: 100%;
  .experience-picture {
    position: relative;
    margin: 0 auto;
    img {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center bottom;
      background-attachment: fixed;
      -webkit-transition: all 0.5s ease; /* Safari and Chrome */
      -moz-transition: all 0.5s ease; /* Firefox */
      -ms-transition: all 0.5s ease; /* IE 9 */
      -o-transition: all 0.5s ease; /* Opera */
      transition: all 0.5s ease;
    }
  }
  .experience-name {
    position: absolute;
    height: 100%;
    // margin: 0 auto;
    // text-align: center;
    width: 100%;
    // height: 100%;
    color: white;
    p {
      position: absolute;
      left: 0;
      right: 0;
      top: 45%;
      text-align: center;
      padding: 2px;
      font-size: 17px;
      font-weight: 300;
      text-shadow: 0px 0px 1px white, 0px 0px 6px black;
    }
  }
}

.experience-big-box {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  width: 100%;
  .experience-picture {
    img {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center bottom;
      background-attachment: fixed;
      -webkit-transition: all 0.5s ease; /* Safari and Chrome */
      -moz-transition: all 0.5s ease; /* Firefox */
      -ms-transition: all 0.5s ease; /* IE 9 */
      -o-transition: all 0.5s ease; /* Opera */
      transition: all 0.5s ease;
    }
  }
}
.experience-big-box:hover {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  img {
    // filter: grayscale(25%);
    // -webkit-filter: grayscale(25%);
    // -moz-filter: grayscale(25%);
    // -ms-filter: grayscale(25%);
    // -o-filter: grayscale(25%);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
}

// Styles for modal experience
// ?????
.vertical-align-top {
  vertical-align: top;
}

.vertical-align-middle{
  vertical-align: middle;
}

td.width-split {
  width: 50%;
}

td.rating-cell {
  border-left: 5px solid #eeeeee;
  padding-left:5%;
}
img.fixed-height {
  height: 31px;
}

img.small-height {
  height: 27px;
}

.rating-score {
  padding-left:40px;
  color: #e7711b;
  line-height: 4em;
  font-size: 24px;
}

.ta-color {
  color:#3a8e1b;
}
.gg-color {
  color:#e7711b;
}
.fsq-color {
  color:#0732a2 ;
}


// .onboarding-box {
//   background-color: white;
//   border: 1px #c4d9d9 solid;
//   padding: 16px 16px 16px 16px;
//   margin-bottom: 15px;
//   margin-top: 15px;
//   img {
//     width: 95%;
//     border: 1px #F7F7F7 solid;
//   }
//   p {
//     font-size: 20px;
//   }
// }

body.destinations_experiences {
  background-image: image-url("overclouds.jpg");
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  height: 800px;
  padding-top: 56px;
  color: white;
  margin: 0px;
  h2 {
    text-align: center;
    text-shadow: 0px 0px 3px white, 0px 0px 6px black;
    padding-bottom: 30px;
    font-weight: 300;
    font-size: 25px;
  }
  h4, a.liban {
    color: white;
    text-align: center;
    margin: 0px;
    font-weight: 300;
  }

  .minor-block {
    font-size: 1.5em;
    font-weight: 300;
    color: #525252;
    margin: 30px;
    padding-bottom: 30px;
  }
  .form-group{
    margin: 10px auto;
    padding-top:20px;
  }

  .title {
    a {
      color: white;
      text-decoration: underline;
    }
  }
  .btn {
    font-size: 16px;
  }
  p {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .destinations {
    .minor-block {
      font-size: 1.4em;
    }
    input#trip_query {
      width: 80%;
    }
  }
  h2.map-title {
    font-size: 2em;
  }
  #overview, #must-see, #recommended-trip {

    h2 {
      font-size: 2em;

    }
  }
}