// Place all the styles related to the destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Styles for Destination index

.destination-box {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  width: 100%;
  .destination-picture {
    img {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center bottom;
      background-attachment: fixed;
      -webkit-transition: all 0.5s ease; /* Safari and Chrome */
      -moz-transition: all 0.5s ease; /* Firefox */
      -ms-transition: all 0.5s ease; /* IE 9 */
      -o-transition: all 0.5s ease; /* Opera */
      transition: all 0.5s ease;
    }
  }
  .destination-name {
    display: block;
    text-align: center;
    width: 100%;
    letter-spacing: 0px;
    font-size: 1em;
    color: white;
    bottom: 0px;
    // background: rgba(0,0,0,0.3);
    position: absolute;
    margin: auto;
    small {
      font-size: 35px;
      font-weight: 300;
    }
  }
}

.destination-box:hover {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  img {
    // filter: grayscale(25%);
    // -webkit-filter: grayscale(25%);
    // -moz-filter: grayscale(25%);
    // -ms-filter: grayscale(25%);
    // -o-filter: grayscale(25%);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
}

// Styles for show destination
.destination-banner {
  position: relative;
  img {
    width: 100%;
  }
  h1 {
    position: absolute;
    top: 40%;
    bottom: 46%;
    left: 0;
    right: 0;
    font-size: 60px;
    color: white;
    text-align: center;
  }
}

.destination-content {
  padding: 2%;
  padding-top: 35px;
  p {
    letter-spacing: .01rem;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
    line-height: 1.5;
  }
}
.destination-collapse {
  position: relative;
  img {
    width: 100%;
  }
  a.destination-collapse:hover {
    color: white;
    text-decoration: underline;
  }
  a.destination-collapse:focus {
    color: white;;
  }
}

#overview, #must-see, #recommended-trip {
  position: relative;
  img {
    width: 100%;
  }
  h2 {
    position: absolute;
    top: 40%;
    bottom: 51%;
    left: 0;
    right: 0;
    font-size: 4em;
    letter-spacing: 2px;
    color: white;
    text-shadow: 0px 0px 1px white, 0px 0px 3px black;

  }
}



a#must-see-img:hover {
  img {
    opacity: 0.7;
  }
  .hover-img {
    display: block;
  }
}
.hover-img {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 25%;
  font-size: 4em;
  color: white;
  text-shadow: 0px 0px 1px white, 0px 0px 3px black;
}

.navbar-wagon .navbar-nav > li > a {
  color: black;
}
.bg-black{
  background: black;
}

#bottom-start-planning {
 color: white;
 background: #2b2d2e;
 height: 100%;
 padding-top: 5%;
 padding-bottom: 5%;
}

.wrapper.bg-white.black {
  background-color: white;
  // color: black;
  padding-bottom: 0px;
}

.medium {
  letter-spacing: .01rem;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  line-height: 1.5;
}
.no-margin {
  position: absolute;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

// #overview{
//   background-image: url("http://philae-floju.s3.amazonaws.com/photos_liban/liban_qadisha_vallee_1.jpg");
// }
// #must-see{
//   background-image: url("http://philae-floju.s3.amazonaws.com/photos_liban/liban_jbeil_byblos_une_journee_1.jpg");
// }
// #recommended-trip{
//   background-image: image-url("destination_liban_demo_2.jpg");
// }

.destination-tagline {
  color: white;
  font-size: 2em;
  font-weight: 100;
  margin-top: 20px;
}

#start-planning {
  z-index: 1;
  position: fixed;
  right: 0px;
  top: 45%;
  .btn {
    font-size: 14px;
    // height: 70px;
    // width: 45px;
    border-radius: 90px 90px 0 0;
    -moz-border-radius: 90px 90px 0 0;
    -webkit-border-radius: 90px 0 0 90px;
    background: #FF7519;
  }
  .fa {
    color: white;
    font-size: 14px;
    // padding-top: 15px;
    // padding-left: 5px;
  }
}
.itinerary_image {
  margin-bottom: 30px;
  img {
    max-height: 250px;
  }
}


// Styles for modal experience
// ?????
.vertical-align-top {
  vertical-align: top;
}

.vertical-align-middle{
  vertical-align: middle;
}

td.width-split {
  width: 50%;
}

td.rating-cell {
  border-left: 5px solid #eeeeee;
  padding-left:5%;
}
img.fixed-height {
  height: 31px;
}

img.small-height {
  height: 27px;
}

.rating-score {
  padding-left:40px;
  color: #e7711b;
  line-height: 4em;
  font-size: 24px;
}

.ta-color {
  color:#3a8e1b;
}
.gg-color {
  color:#e7711b;
}
.fsq-color {
  color:#0732a2 ;
}



// .destination_title {
//   background-image: url("http://philae-floju.s3.amazonaws.com/photos_liban/liban_qadisha_vallee_1.jpg");
//   background-size: cover;
//   background-position: center top;
//   background-attachment: fixed;
//   color: white;
//   height: 570px;
//   padding-top: 1px;
//   h1 {
//     padding-top: 180px;
//     font-size: 65px;
//     font-weight: 400;
//   }
// }

// .destination_must-see {
//   background-image: url("http://philae-floju.s3.amazonaws.com/photos_liban/liban_jbeil_byblos_une_journee_1.jpg");
//   background-size: cover;
//   background-position: center top;
//   background-attachment: fixed;
//   color: white;
//   height: 470px;
//   padding-top: 1px;
//   h1 {
//     padding-top: 180px;
//     font-size: 65px;
//     text-align: center;
//     font-weight: 300;
//   }
// }

// .must-see-box {
//   background-color: white;
//   padding: 16px 16px 16px 16px;
//   img {
//     width: 100%;
//     text-align: center;
//   }
//   // p {
//   //   vertical-align: middle;
//   // }
// }

// .destination_itineraries {
//   background-image: image-url("destination_liban_demo_2.jpg");
//   // background-image: url("http://philae-floju.s3.amazonaws.com/photos_liban/liban_beyrouth_rawcheh_1.jpg");
//   background-size: cover;
//   background-position: center top;
//   background-attachment: fixed;
//   color: white;
//   height: 470px;
//   padding-top: 1px;
//   h1 {
//     padding-top: 180px;
//     font-size: 65px;
//     text-align: center;
//   }
// }

// .onboarding-box {
//   background-color: white;
//   border: 1px #c4d9d9 solid;
//   padding: 16px 16px 16px 16px;
//   margin-bottom: 15px;
//   margin-top: 15px;
//   img {
//     width: 95%;
//     border: 1px #F7F7F7 solid;
//   }
//   p {
//     font-size: 20px;
//   }
// }

body.destinations_experiences {
  background-image: image-url("overclouds.jpg");
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  height: 800px;
  padding-top: 56px;
  color: white;
  margin: 0px;
  h2 {
    text-align: center;
    text-shadow: 0px 0px 3px white, 0px 0px 6px black;
    padding-bottom: 30px;
    font-weight: 300;
    font-size: 25px;
  }
  h4, a.liban {
    color: white;
    text-align: center;
    margin: 0px;
    font-weight: 300;
  }

  .minor-block {
    font-size: 1.5em;
    font-weight: 300;
    color: #525252;
    margin: 30px;
    padding-bottom: 30px;
  }
  .form-group{
    margin: 10px auto;
    padding-top:20px;
  }

  .title {
    a {
      color: white;
      text-decoration: underline;
    }
  }
  .btn {
    font-size: 16px;
  }
  p {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .destinations {
    .minor-block {
      font-size: 1.4em;
    }
    input#trip_query {
      width: 80%;
    }
  }
}