// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.newexperience {
  background-image: image-url("road.jpg");
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  height: 800px;
  padding-top: 90px;
  color: black;
  h2 {
    text-align: center;
    color: white;
    text-shadow: 0px 0px 3px white, 0px 0px 6px black;
  }
  h4 {
    color: white;
    font-weight: 300;
  }
  .box-content {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    background: rgba(0,0,0,0.4);
    font-weight: 300;
    padding: 15px;
    margin: 10px;
    heigth: 50%;
    color: white;
  }
 .form-control {
    border-radius: 0px;
  }
}

@media screen and (max-width: 500px) {
  .newexperience {
    h4 {
      color: white;
      font-weight: 500;
    }
  }
}