#experience-summary-block {
  background: white;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 3%;
  padding: 2%;

  .exp-header {
    font-size: 1.3em;
  }

  .exp-description {
    font-weight: 300;
    padding-bottom: 1%;
  }
  table.table {
    margin: 0px;
  }
}