#map {
  height: 500px;
}

#draggablePanelList {
  .panel {
    margin-bottom: 11px;
  }
  .panel-heading {
    cursor: move;
    padding: 7px;
  }
}

.scrollable {
  overflow: scroll;
  height: 457px;
}
