#experience-summary-block {
  background: white;
  // box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 3%;
  padding: 2%;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  padding-bottom: 25px;

  .exp-header {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .exp-description {
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 1%;
  }
  table.table {
    border-style: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
    img {
      min-height: 150px;
    }
  }
  #trip_experience_comment {
    border-color: lightgrey;
  }
}

@media screen and (max-width: 500px) {
  #experience-summary-block {
    .exp-header {
      font-size: 16px;
    }
    .exp-description {
      font-size: 14px;
    }
  }
}