// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#homeblock {
  padding-top: 120px;

  .title {
    margin-bottom: 30px;
  }

  .form-group{
    width: 350px;
  }

  .form-control{
    width: 350px;
  }

}

// #hp-form {
//   background: rgba(0,0,0,0.4);
//   color: white;
//   width: 140%;
//   margin: 0 auto;
//   padding: 25px 10px;
//   border-radius: 5px;
// }

// #q {
// width: 80%;
// padding: 5px;
// color: black;
// }


