// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#homeblock {
  padding-top: 7%;
  height: 80%;
}

#homeblock {

  .form-group{
    width: 350px;
    margin: 10px auto;
  }

  .form-control{
    width: 350px;
  }

  h1, h2 {
    color: white;
    text-shadow: 0px 0px 5px white, 0px 0px 10px black;
  }
}

#homepage-content {
  background: rgba(0,0,0,0.2);
  padding: 35px;
}

.img-responsive {
  margin: 0 auto;
  height: 150px;
}

.feature {
  padding: 10px;
  background: #EDEFED;
  border-radius: 10px;
  margin: 15px;
}
.effect-white-shadow{
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}


