html, body {
  overflow: hidden;
}

.map-container {
  position: fixed;
  width: 65%;
  left: 0px;
  bottom: 60px;
  padding-left: 0px;
  top: 54px;

  #map {
    height: 100%;
  }

  #user-choices {
    position: absolute;
    top: 7px;
    left: 40px;
    background: white;
    padding: 2px 10px;

    small {
      font-size: 12px;
      font-weight: 100;
    }
  }

  .btn {
  bottom: 2px;
  position: absolute;
  left: 7px;

  small {
    font-size: 12px;
    font-weight: 100;
  }
  }
}

.sidebar {
  position: fixed;
  width: 35%;
  right: 0px;
  top: 54px;
  bottom: 60px;


  .selection-content {
    margin: 10px;
    height: 100%;
    overflow: auto;

    .panel{
      margin: 5px;
      border: none;
      border-radius: 0px;
      margin-bottom: 15px;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);

      .panel-heading {
        margin-top: 5px;
        border-radius: 0px;
        background: white;
        border: none;
        border-radius: 0px;
        font-weight: 300;
        color: #808080;

        i {
          color: #808080;
        }
        i:hover {
          color: black;
        }
      }

      .panel-body {
        padding-bottom: 10px;
        border: none;
        border-radius: 0px;
        font-weight: 100;
        margin-bottom: 5px;
        padding-left: 7px;
        padding-right: 7px;

        .panel-body-picture {
          position: relative;
          left: 0px;
          width: 160px;
          height: 100px;
        }
        .panel-body-content {
          position: relative;
          left: 0px;
        }
      }
    }
  }
}


.nav-footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-top: 1px solid whitesmoke;
  height: 60px;
  background: #F0F1F5;

  .vertically-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    .btn {
      width: 100%;
      height: 100%px;
      font-weight: 300;
      font-size: 13px;
      white-space: normal;
    }
  }
}

#draggablePanelList {
  .panel {
    margin-bottom: 11px;
  }
  .panel-heading {
    cursor: move;
    padding: 7px;
  }
}

.scrollable {
  overflow: scroll;
  height: 100%;
}

.dragging {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

