@-webkit-keyframes loading {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes loading {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes loading {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes loading {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

html, body {
  overflow: hidden;
}

.map-container {
  position: fixed;
  width: 62%;
  right: 0px;
  bottom: 0px;
  padding-left: 0px;
  top: 54px;
  z-index: 1;
  background: #FCFCFC;
  .overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    left: 0;
    overflow: auto;
    position: absolute;
    top: 0;
    z-index: 190;
    -webkit-overflow-scrolling: touch;
  }
  .overlay-loading {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    margin-top: 15px;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 8px #000;
    top: 50%;
    width: 100%;
    b {
      font-weight: 400;
      letter-spacing: 2px;
      -webkit-animation: loading 2s infinite; /* Safari 4+ */
      -moz-animation:    loading 2s infinite; /* Fx 5+ */
      -o-animation:      loading 2s infinite; /* Opera 12+ */
      animation:         loading 2s infinite; /* IE 10+, Fx 29+ */
    }
    b + b {
      -webkit-animation-delay: .3s;
      animation-delay: .3s;
    }
    b + b + b {
      -webkit-animation-delay: .6s;
      animation-delay: .6s;
    }
  }
  #ask-friends-mobile-btn {
    display: none;
  }
  #map {
    height: 100%;
  }
  #map-interaction {
    position: absolute;
    top: 6px;
    left: 30px;
    background: white;
    margin: 2px 10px;
    #search-bar {
      padding: 4px;
      background: #fff;
      border: 1px solid #c4c4c4;
      border-radius: 0px;
      background-color: #fff;
      height: 30px;
      input{
        width: 240px;
        height: 17px;
      }
      .fa-search {
        padding-right: 5px;
      }
    }
    .search-btn {
      border-left: 1px solid #c4c4c4;
    }
    small, input {
      font-size: 12px;
      font-weight: 400;
    }
    input {
      background-color: transparent;
      border: 0 none;
      box-shadow: none;
    }
    input:focus {
      outline: none;
    }
  }
  .map-up-btn {
    top: 9px;
    right: 9px;
    position: absolute;
    border-left: #FF7519;
    border-style: solid;
    font-size: 13px;
    small {
      font-size: 13px;
      font-weight: 400;
    }
  }
  .map-up-btn1 {
    top: 9px;
    right: 9px;
    position: absolute;
    width: 148px;
    border-left: #FF7519;
    border-style: solid;
    font-size: 15px;
    small {
      font-size: 14px;
      font-weight: 400;
    }
  }
  .map-up-btn2 {
    top: 50px;
    right: 9px;
    position: absolute;
    width: 148px;
    border-left: #FF7519;
    border-style: solid;
    font-size: 15px;
    small {
      font-size: 14px;
      font-weight: 400;
    }
  }
  .map-up-btn3 {
    top: 91px;
    right: 9px;
    position: absolute;
    width: 148px;
    border-left: #FF7519;
    border-style: solid;
    font-size: 15px;
    small {
      font-size: 14px;
      font-weight: 400;
    }
  }
  .map-up-btn:hover, .map-up-btn1:hover, .map-up-btn2:hover, .map-up-btn3:hover  {
    background-color: #FF7519;
    color: white;
  }
  .map-bottom-btn-tips {
    bottom: 5px;
    position: absolute;
    right: 5px;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);
    background-color: #3b5998;
    small {
      font-size: 15px;
      font-weight: 400;
    }
    input {
      border: none;
      background-color: #3b5998;
      color: white;
    }
    input:hover {
      background-color: #2d4373;
    }
  }
  .map-bottom-btn-tips:hover {
    background-color: #2d4373;
  }
  .map-bottom-btn {
    bottom: 5px;
    position: absolute;
    left: 5px;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);
    small {
      font-size: 15px;
      font-weight: 400;
    }
  }
  #map-legend {
    background: rgba(255,255,255,0.9);
    font-size: 14px;
    bottom: 20px;
    position: absolute;
    // right: 0;
    left: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    img {
      max-height: 32px;
      padding-left: 7px;
      padding-right: 1px;
    }
  }
}

.sidebar {
  background: white;
  position: fixed;
  width: 38%;
  top: 54px;
  bottom: 0%;
  z-index: 1;
  padding-left: 10px;
  .selection-header {
    .selection-title {
      font-weight: 400;
      line-height: 1.3em;
      margin: 2%;
    }
    p {
      font-size: 14px;
    }
    #ul-sidebar {
      #myTab {
        table-layout: fixed;
        display: table;
      }
      li .fa {
        padding-right: 10px;
      }
      .nav-pills > li > a {
        color: #525252;
        webkit-border-radius: 0;
        moz-border-radius: 0;
        border-radius: 0;
        font-size: 16px;
        background-color: #eaeaea;
        height: 37px;
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 10px;
      }
      // .dropdown-menu {
      //   li {
      //     a {
      //       background-color: white;
      //       color: #525252;
      //     }
      //   }
      // }
      // .dropdown-menu > li > a:hover {
      //   background-color: lightgrey;
      //   color: #525252;
      //   border-style: none;
      // }
      // .dropdown-menu > li.active > a {
      //   font-weight: bold;
      // }
      #destination-pill, #friends-tips-pill, #my-trip-pill {
        width: 31%;
      }
      #destination-pill {
        i {
          color: #0086B8;
          font-size: 16px;
        }
      }
      #friends-tips-pill {
        border-left: 2px solid white;
        i {
          color: #3b5998;
          font-size: 16px;
        }
      }
      #my-trip-pill {
        border-left: 2px solid white;
        i {
          color: #FF5A5F;
        }
      }
      #help-menu-pill {
        width: 7%;
        border-left: 2px solid white;
        a {
          font-weight: 900;
        }
      }
      // #itineraries {
      //   border-left: 2px solid white;
      // }
      // #itineraries:hover {
      //   .dropdown-toggle {
      //     background-color: #6F9AAA;
      //     color: white;
      //   }
      // }
      #my-trip-pill:hover {
        a {
          background-color: #FF5A5F;
          color: white;
        }
        i {
          color: white;
        }
      }
      #friends-tips-pill:hover {
        a {
          background-color: #3b5998;
          color: white;
        }
        i {
          color: white;
        }
      }
      #help-menu-pill:hover {
        a {
          background-color: grey;
          color: white;
        }
      }
      #destination-pill.active {
        a {
          background-color: #0086B8;
          color: white;
        }
        i {
          color: white;
        }
      }
      #friends-tips-pill.active {
        a {
          background-color: #3b5998;
          color: white;
        }
        i {
          color: white;
        }
      }
      #my-trip-pill.active {
        a {
          background-color: #FF5A5F;
          color: white;
        }
        i {
          color: white;
        }
      }
      #help-menu-pill.active {
        a {
          background-color: grey;
          color: white;
        }
      }
      // #itineraries.active {
      //   .dropdown-toggle {
      //     background-color: #6F9AAA;
      //     color: white;
      //   }
      // }
      // li {
      //   .fa {
      //     color: grey;
      //     font-size: 14px;
      //     padding-right: 10px;
      //   }
      //   #fa-info {
      //     padding-left: 5px;
      //     padding-right: 14px;
      //   }
      //   #fa-map-marker {
      //     padding-left: 4px;
      //     padding-right: 13px;
      //   }
      //   #fa-car {
      //     padding-right: 9px;
      //   }
      //   a {
      //     color: black;
      //     font-size: 14px;
      //     padding-top: 5px;
      //   }
      //   a:hover {
      //     background-color: lightgrey;
      //   }
      // }
    }
  }
  .selection-content {
    margin: 10px;
    height: 88%;
    overflow: auto;
    visibility: hidden;
    .tab-pane {
      p {
        font-weight: 300;
        font-size: 14px;
        color: #525252;
        line-height: 20px;
        word-spacing: 1px;
        text-align: justify;
        vertical-align: middle;
        text-align: center;
        a {
          font-weight: 500;
        }
      }
      h4 {
        margin-top: 30px;
        margin-bottom: 20px;
        color: #525252;
        font-weight: 400;
        text-align: center;
      }
      #tab-pane-introduction {
        img {
          width: 3%;
        }
        p {
          text-align: center;
          font-size: 16px;
        }
      }
      #experiences-filter {
        display: none;
        // padding-left: 2%;
        // label.radio-inline{
        //   input {
        //     position: static;
        //   }
        // }
      }
      .tab-description {
        h4 {
          margin-bottom: 10px;
        }
        h5 {
          font-weight: 300;
          text-align: center;
        }
        img {
          width: 3%;
        }
      }
      .experience-block-container {
        margin-right: 3%;
        .panel-heading {
          padding: 7px;
          padding-left: 0px;
        }
      }
    }
    #user-guest-comments {
      table {
        width: 100%;
        text-align: center;
        border-width: 1px;
        border-bottom-style: solid;
        border-color: lightgrey;
      }
      td {
        padding-bottom: 10px;
      }
      .btn {
        font-size: 14px;
        width: 90%;
        padding-top: 3px;
        padding-bottom: 3px;
      }
    }
    #help-menu {
      table {
        width: 100%;
        text-align: center;
        border-width: 1px;
        border-bottom-style: solid;
        border-color: lightgrey;
      }
      td {
        padding-bottom: 10px;
      }
      .btn {
        font-size: 14px;
        width: 90%;
        padding-top: 3px;
        padding-bottom: 3px;
      }
    }
    #user-experiences-selection {
      .btn {
        font-size: 14px;
        padding-top: 3px;
        padding-bottom: 3px;
        width: 100%;
        margin-top: 25px;
        margin-bottom: 25px;
      }
    }
  }
  table {
    width: 100%
  }
  // ul.experience-block-container {
  //   margin-right: 3%;
  // }
}

// .orange {
//   color: #FF7519;
// }
// .blue {
//   color:#3b5998;
// }
// .red {
//   color: #FF5A5F;
// }

// .map-side-menu-container {
//   display: none;
// }

.olrk-normal {
  display: none;
}

.mobile-tapbar-container {
  display: none;
}
.guest-mobile.wrapper {
  display: none;
}
.mobile-menu-container {
  display: none;
}
.mobiletapbar-container {
  display: none;
}

// .map-side-menu-container {
//   bottom: 0px;
//   width: 20%;
//   background: #3B5998;
//   left: 0;
//   position: fixed;
//   top: 54px;
//   table {
//     width: 100%;
//   }
// }


.map-side-menu-content:hover{
  background: rgb(0,129,186);
}

.menu-selected, .menu-selected:hover{
  background: #2196F3;
}
.mobile-selection, .mobile-selection:hover{
  background: #2196F3;
}
.map-side-menu-container:hover {
  z-index: 2;
}

// Experience display design
.item-banner img {
  max-width: 100%;
}

// Responsive: change design for screen smaller than ipad in portrait
@media screen and (max-width: 999px) {
  .map-side-menu-container {
      display: none;
    }
  .mobile-menu-container {
    display: block;
    position: fixed;
    top: 51px;
    width: 100%;
    background: #3B5998;
    padding: 0px;
    margin: 0px;
    #user-choices {
      margin: 0px 3px;
    }
    .map-side-menu-content {
      line-height: 4em;
      color: white;
      height: 60px;
      .map-menu-item-top {
        font-size: 15px;
        width: 25%;
        vertical-align: middle;
      }
    }
  }
  .mobile-tapbar-container {
    z-index: 5;
    display: block;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: #3B5998;
    line-height: 4em;
    .container {
      margin: 0px;
      padding: 0px;
      width: 100%;
    }
    a i {
      color: white;
    }
    .dropdown-menu.dropdown-menu-right {
      margin-right: 14%;
      li {
        padding: 12px 5px;;
        line-height: 1em;
        color: grey;
        font-weight: 100;
        height: auto;
      }
      li:hover, li:visited {
        background: whitesmoke;
      }
    }
    .map-side-menu-content {
      line-height: 4em;
      color: white;
      height: 60px;
      .map-menu-item-bottom {
        font-size: 2em;
        width: 25%;
        vertical-align: middle;
      }
      .item-show {
        font-size: 13px;
        font-weight: 300;
        padding-left: 5%;
        width: 100%;
        line-height: 5em;
        vertical-align: middle;
      }
    }
  }
  .guest-mobile.wrapper {
    display: block;
    color: #525252;
    padding: 55px 10px 10px 10px;
    font-weight: 300;
    .add-experience {
      p {
        color: grey;
      }
      button {
        border: none;
        background: white;
        border-shadow: 0px 0px 3px white, 0px 0px 6px black;
        box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.2);
        font-size: 1.5em;
      }
      .done {
        background: green;
        color: white;
      }
      button:focus {
        outline: none;
      }
    }
  }
  .map-container {
    z-index: 1;
    top: 111px;
    left: 0px;
    width: 100%;
    height: 75%;
    #new-exp {
      display: none;
    }
    #search-bar {
      display: none;
    }
    .map-bottom-btn {
      display: none;
    }
    // .map-up-btn {
    //   bottom: 0%;
    //   box-shadow: none;
    //   position: absolute;
    //   left: 0px;
    //   width: 100%;
    //   border-radius: 0px;
    // }
    #ask-friends-mobile-btn {
      display: block;
      width: 100%;
      small {
        font-size: 15px;
      }
    }
    .gmnoprint {
      display: none;
    }
  }
  .sidebar {
    z-index: 2;
    background: #FCFCFC;
    top: 111px;
    left: 0px;
    width: 100%;
    .selection-title {
      display: none;
    }
    .selection-content{
      margin:0px;
      #draggablePanelList {
        margin: 0px;
      }
    }
    // position: relative;
    // width: 100%;
    // top: 0;
    // bottom: 0;
    // margin-top: 45px;
    // .selection-content {
    //   overflow: visible;
    //   margin: 0px;
    //   ul.experience-block-container {
    //     margin-right: 0px;
    //   }
    // }
  }

  #myModalPresentation {
    display: none;
    visibility: hidden;
  }
  .wrapper {
    padding: 0px;
    margin: 0px;
  }
  .no-display {
    display: none;
  }
  .modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    .modal-content {
      height: 100%;
    }
  }
  .no-padding {
    padding: 0px;
  }

  html, body {
    overflow: initial;
  }
}