#user-sidebar {
  // background-color: #F7F7F7;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  // padding-left: 15px;
  fixed-width: 45px;
  min-height: 678px;

  // position: fixed;
  .nav-tabs {
    background-color: #F7F7F7;
    width: 100%;
    li {
      margin-bottom: 20px;
    }
  }
  a {
  text-align: center;
  font-size: 12px;
  border: none;
    i {
      font-size: 30px;
    }
  }
  .tabs-left > .nav-tabs {
    border-bottom: 0;
    float: left;
    // margin-right: 19px;
    // border-right: 1px solid #ddd;
    li {
      float: none;
      a {
        min-width: 74px;
        padding-left: 4px;
        padding-right: 4px;
        margin-right: 0;
        margin-bottom: 3px;
        margin-right: -1px;
        // -webkit-border-radius: 4px 0 0 4px;
        //   -moz-border-radius: 4px 0 0 4px;
        //     border-radius: 4px 0 0 4px;
      }
    }
  }
  .tabs-left > .nav-tabs > li > a:hover,
  .tabs-left > .nav-tabs > li > a:focus {
    // border-color: #eeeeee #dddddd #eeeeee #eeeeee;
  }

  .tabs-left > .nav-tabs .active > a,
  .tabs-left > .nav-tabs .active > a:hover,
  .tabs-left > .nav-tabs .active > a:focus {
    // border-color: #ddd transparent #ddd #ddd;
    // border-right-color: #ffffff;
  }
}

#col-side-bar {
  padding-left: 0px;
  padding-right: 0px;
}

#col-user-page {
  padding-left: 0px;
  padding-right: 0px;
}

#user-content {

  h2 {
    margin-top: 10px;
  }
  #user-page-banner {
    background-image: url("https://s3-eu-west-1.amazonaws.com/philae-floju/banners/user_page_banner.jpeg");
    height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center 75%;
    // background-attachment: fixed;
    .row {
      position: absolute;
    }
    #profile-pic {
      margin-top: 18px;
      margin-left: 16px;
      border: $profile-border-width solid $profile-border-color;
      box-shadow: 0 0 2px rgb(200, 200, 200);
      height: 65px;
      margin-right: 10px;
      border-radius: $profile-radius;
    }
    h2 {
      padding-top: 35px;
      margin-top: 0px;
    }
    #user-quote {
      position: relative;
      width: 100%;
      color: white;
      top: 220px;
      margin-bottom: 0px;
      p {
        margin-bottom: 0px;
        font-weight: 300;
      }
    }
  }
  .user-content-detail {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
    .trip_image {
      img {
        width: 100%;
        background-size: cover;
        background-position: center bottom;
        background-attachment: fixed;
      }
    }
  }
  #user-trips-banner {
    background-image: url("https://s3-eu-west-1.amazonaws.com/philae-floju/banners/user-trips-banner.jpeg");
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center bottom;
  }

  #user-friends-banner {
    background-image: url("https://s3-eu-west-1.amazonaws.com/philae-floju/banners/user_friends_banner_2.JPG");
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center bottom 30%;
  }

  #user-settings-banner {
    background-image: url("https://s3-eu-west-1.amazonaws.com/philae-floju/banners/user_settings_banner_2.jpg");
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center bottom 50%;
  }


  .minor-block {
    font-size: 1.5em;
    font-weight: 300;
    color: #525252;
    margin: 30px;
    padding-bottom: 30px;
  }
  .form-group{
    margin: 10px auto;
    padding-top:20px;
  }
  .btn {
    font-size: 16px;
  }
}

  .tripbox > a {
    color: white;
  }

  .tripbox {
    width: 100%;
    background: rgba(0,0,0,0.1);
    color: #525252;
    text-align: center;
    // font-weight: 300;
    // font-size: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    .trip_title {
      font-weight: 300;
      font-size: 25px;
      a {
        color: #525252;
      }
      i {
        font-size: 15px;
        padding-right: 5px;
        padding-top: 5px;
      }
      .fa {
        margin-left: -20px;
      }
    }
    .trip_details {
      font-weight: 300;
      font-size: 15px;
      a {
        color: #525252;
      }
      p {
        margin-bottom: 0px;
      }
    }

  }

@media screen and (max-width: 768px) {
  #user-content {
    #user-page-banner {
      #user-quote {
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .tripbox {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    padding: 0px;
  }
  #user-content {
    .user-content-detail {
      .trip_image {
        img {
          width: 100%;
          background-size: cover;
          background-position: center bottom;
          background-attachment: fixed;
        }
      }
    }
  }
}

@media screen and (max-width: 1110px) {
  #user-content {
    #user-page-banner {
      #user-quote {
        top: 200px;
      }
    }
  }
}
