$color: white;
$color2: lightgrey;
$bg: transparent;
$screen-sm-min: 768px;

.navbar {
  position: absolute;
}

.navbar-wagon{
  background: $bg;
  border-bottom: none;
}

.navbar-wagon .navbar-nav > li > a {
  color: $color2;
}

.navbar-wagon .navbar-nav > li > a:hover {
  color: $color2;
}

.navbar-wagon .navbar-nav > li > a:visited {
  color: $color2;
}

.navbar-wagon .navbar-nav  >.open>a,
.navbar-wagon .navbar-nav >.open>a:hover,
.navbar-wagon .navbar-nav >.open>a:focus {
  color: $color2;
}

.navbar-wagon .navbar-brand ,
.navbar-wagon .navbar-brand:hover {
  color: $color;
}

@media screen and (max-width: $screen-sm-min) {
  .navbar-collapse {
    position: relative;
    background-color: white;
    color: grey;
  }
}