.filters-block {
  border-top: 1px solid #dce0e0;
  border-bottom: 1px solid #dce0e0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.filters-title {
  font-size: 16px;
  font-weight: 200;
}

.sidebar .selection-content .tab-pane a.category-btn .fa-star {
  color: #333333;
}