.provider-container {
  visibility: hidden;
}


.provider-block {
  height:11em;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  background: white;
  font-weight: 100;
  padding: 15px;
  margin: 10px;

  .provider-header {
    a {
      font-weight: 300;
      color: #808080;
      font-size: 1.2em;
    }
  }
}

.table-responsive {
  border: none;
  td {
    padding-right: 5px;
  }
  td.thumb-pic {
    vertical-align: top;
  }
}

.v-top {
  vertical-align: middle;
}

.provider-contact {
  button {
   font-size: 1.5em;
   font-weight: 300;
  }
  .well {
    margin-top: 15px;

    .btn-link {
      font-size: 1em;
      font-weight: 200;
      color: grey;
    }
    .btn-link:focus {
      outline: none;
    }
  }

}