
// @media (max-width: $screen-sm-min) {
//   #sign-form {

// }

#sign-form {
background: rgba(0,0,0,0.6);
color: lightgrey;
width: 60%;
margin: 10px auto;
padding: 10px 10px;
border-radius: 5px;
text-align: center;
}

body.signup-signin {
  background-image: image-url("beach.jpg");
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  color: grey;
  height: 800px;
  padding-top: 80px;
  h2 {
    color: white;
    text-shadow: 0px 0px 3px white, 0px 0px 6px black;
  }

  #sign-form a {
    color: white;
  }
}

#fb-login {
padding: 10px 10px;
text-align: center;
margin: 5px;
border-bottom: 1px dotted lightgrey;
padding-bottom: 20px;
}

#fb-signup {
padding: 10px 10px;
text-align: center;
margin: 5px;
border-bottom: 1px dotted lightgrey;
padding-bottom: 20px;
}

.icon-alignement {
  margin-right: 45px;
  vertical-align: bottom;
}

#user_email {
  color: grey;
  font-weight: normal;
  width: 170px;
}

#user_password {
  color: grey;
  font-weight: normal;
   width: 170px;
}

#user_password_confirmation {
  color: grey;
  font-weight: normal;
   width: 170px;
}

@media screen and (min-width: 200px) and (max-width: 580px) {
  #sign-form {
    width: 95%;
  }
  #fb-signup {
    padding: 2px 2px;
    text-align: center;
    margin-top: 10px;
    border-bottom: 1px dotted lightgrey;
    padding-bottom: 20px;
    i {
      display: none;
    }
    .btn-social.btn-lg {
    font-size: 100%;
    padding-left: 5px;
    padding-right: 5px;
   }
  }
}



