#experience-summary-block {
  padding: 2%;
  .experience-big-box {
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    width: 100%;
    background: rgba(0,0,0,0.1);
    .experience-picture {
      img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center bottom;
        background-attachment: fixed;
      }
    }
  }
  .experience-details {
    text-align: left;
    .experience-one-sentence {
      text-align: left;
      font-size: 20px;
      margin-bottom: 15px;
    }
    .experience-timetospent, .experience-wheretosleep, .experience-transportation {
      text-align: left;
      margin-bottom: 15px;
      p {
        font-size: 15px;
        font-weight: 300;
      }
      i {
        font-size: 18px;
      }
    }
    .experience-category {
      display: inline-flex;
      margin-bottom: 10px;
      p {
        margin-left: 15px;
        font-size: 15px;
        margin-bottom: 0;
        font-weight: 300;
      }
    }
    .experience-good-bad-points {
      td {
        padding-top: 5px;
      }
      p {
        font-size: 15px;
        margin-bottom: 0;
        font-weight: 300;
        padding-left: 10px;
        text-align: left;
        text-align: justify;
      }
      i {
        margin-top: 2px;
      }
      .fa {
        font-size: 23px;
      }
      .fa-minus-circle {
        color: red;
      }
      .fa-plus-circle {
        color: green;
      }
    }
    .experience-description {
      text-align: justify;
      p {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 300;
      }
    }
    .experience-know-more {
      p {
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
}

.white-space-normal {
  white-space: normal;
  font-size: 1.2em;
}

// .email-sent {
//   background: green;
//   border: none;
//   font-style: italic;
// }

.exp-picture-block{
  td {
    border-bottom: 1px solid #dddddd;
  }
}


.comment-module {
  padding-top: 1%;
  form {
    margin: 0px auto;
  }
  input{
    width: 100%;
    font-size: 1em;
    font-weight: 100;
  }
  input:focus {
    outline: none;
  }
  textarea#trip_experience_comment {
    width: 100%;
    font-weight: 300;
    height: 5em;
    font-size: 18px;
  }
}

@media screen and (max-width: 580px) {
  .btn {
    font-size: 14px;
    font-weight: 300;
  }
  // .btn {
  //   font-size: 15px;
  // }
}