<div id="experience-infowindow">
  <div class="comment-name">
    <%= trip_comment.name %>
  </div>
  <div class="comment-content">
    <%= simple_format trip_comment.description %>
  </div>
<div class="infobox-content">
  <%= link_to t('.delete'), [trip_comment.trip, trip_comment], remote: true, method: :delete, data: {confirm: t('.confirm')} %>
</div>
</div>