<div id="experience-infowindow">
  <div class="comment-name">
    <%= trip_comment.name %>
  </div>
  <div class="comment-content">
    <%= simple_format trip_comment.description %>
  </div>
<div class="infobox-content">
  <%= link_to '- supprimer commentaire - ', [trip_comment.trip, trip_comment], remote: true, method: :delete, data: {confirm: "Etes-vous sûr de vouloir supprimer ce commentaire?"} %>
</div>
</div>